<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />  
<head>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/components.css}" />
<link rel="shortcut icon" th:href="@{/app/img/favicon.png}" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">


$().ready(function() {
	 $("#contentPage").attr("src",basePath+'/server/queryUser.html'); 
	 
});

	function switchPage(url){
		var userName=$("#userName").val();
		url=url+"?userName="+userName;
		 $("#contentPage").attr("src",basePath+url); 
	}

</script>

</head>
<body>
	
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">&nbsp;</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown" style="width:200px;text-align: center">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               	系统管理 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/server/queryUser.html}" target="contentPage">用户管理</a></li>
                <li class="divider"></li>
               <li><a  th:href="@{/server/queryRole.html}" target="contentPage">角色管理</a></li>
                <li class="divider"></li>
               <li><a th:href="@{/server/queryDivision.html}" target="contentPage">部门管理</a></li>
               <li class="divider"></li>
               <li><a th:href="@{/server/teamQuery.html}" target="contentPage">施工队管理</a></li>
            </ul>
         </li>
         <li class="dropdown" style="width:200px;text-align: center">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	 维修管理 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/server/maintainTaskQuery.html}" target="contentPage">维修任务管理</a></li>
                <li class="divider"></li>
               <li><a href="#" onclick="switchPage('/server/maintainItemQuery.html')"  >维修项管理</a></li> 
                <li class="divider"></li>
               <li><a href="#">Jasper Report</a></li>
               <li class="divider"></li>
               <li><a href="#">分离的链接</a></li>
               <li class="divider"></li>
               <li><a href="#">另一个分离的链接</a></li>
            </ul>
         </li>
         <li class="dropdown" style="width:200px;text-align: center">
            <a href="#" class="dropdown-toggle" onclick="switchPage('/server/todoTask.html')"  data-toggle="dropdown">
              	 待办任务<span class="badge" th:text="${session.taskCount}"></span>
            </a> 
         </li>
         
         <li class="dropdown" style="width:200px;text-align: center">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	 统计 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">jmeter</a></li>
               <li><a href="#">EJB</a></li>
               <li><a href="#">Jasper Report</a></li>
               <li class="divider"></li>
               <li><a href="#">分离的链接</a></li>
               <li class="divider"></li>
               <li><a href="#">另一个分离的链接</a></li>
            </ul>
         </li>
          <li class="dropdown" style="width:200px;text-align: center">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
          		库存管理<b class="caret"></b>
          	</a>
          	<ul class="dropdown-menu">
               <li><a th:href="@{/server/materialStockQuery.html}" target="contentPage">存量管理</a></li>
                <li class="divider"></li>
               <li><a th:href="@{/server/materialInOutQuery.html}" target="contentPage">出入库管理</a></li>
                <li class="divider"></li>
                 <li><a th:href="@{/server/materialQuery.html}" target="contentPage">材料管理</a></li>
                <li class="divider"></li>
            </ul>
          </li>
          <li class="dropdown" style="width:200px;text-align: center">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
          		配置<b class="caret"></b>
          	</a>
          	<ul class="dropdown-menu">
               <li><a th:href="@{/server/processConfig.html}" target="contentPage">流程通知配置</a></li>
                <li class="divider"></li>
               <li><a th:href="@{/server/processDuringConfig.html}" target="contentPage">维修时间配置</a></li>
                <li class="divider"></li>
               <li><a th:href="@{/server/processOverTimeConfig.html}" target="contentPage">环节超时配置</a></li> 
                <li class="divider"></li>
               <li class="divider"></li>
               <li><a href="#">分离的链接</a></li>
               <li class="divider"></li>
               <li><a href="#">另一个分离的链接</a></li>
            </ul>
          </li>
      </ul>
      <div style="width:80px;float:right" >
      		 <span  th:text="${user.staffName}" />
      		 <input type="hidden"  id="userName" th:value="${user.userName}" />
      </div>
   </div>
    <iframe width="100%" height="90%"   frameborder="false" marginwidth="0px" scrolling="no" allowtransparency="true" style="border: medium none;overflow:auto;" src="/server/queryUser.html" id="contentPage" name="contentPage"></iframe>
   </div>
</nav>


</body>
</html>