<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>订单分配</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
	function dispatchOrder(){
		 var len=$('input:checked').length;
		 var startTime=$("#startTime").val();
		if(len>=1){
			var res=true;
			$("input[xtype=drua]").each(function(){
				if($(this).prop('disabled')==false){
					if($(this).val()==''){
						alert('请填写时长！');
						res=false;
						return false;
					}
					if(parseInt($(this).val())+paseInt(startTime)>20 ){
						alert('结束时间已超过20点！');
						res=false;
						return false;
					}
				}
			  });
			if(res==false)return; 
			 $.ajax({
		            type: "POST",
		            url: basePath+'/server/dispatchOrder.html',
		            data:$("#orderByForm").serialize(),
		            success: function(data) {
		            	if(data=="S"){
		            		alert('成功分配!');
		            		window.opener=null;
		            		window.open('','_self');
		            		window.close();
		            	}else{
		            		 alert('分配失败 ！');
		            	}
		            }
		        });   
		}
	}
	
	function refreshTimesheet(target){
		var trNode = $(target).parent().parent(); //获取input的“爷爷”--tr  
		var forthChildTdNode =  trNode.children().eq(5);//获取第四个td  
		var firstInput = forthChildTdNode.children(); //获取第一个input 
		
		var aid=$(target).val();
		if($(target).prop('checked')==true){
			$("#timesheetPage").attr("src",basePath+'/server/getWorkerTimeSheet.html?workerId='+aid); 
			 $(firstInput).prop('disabled',false);
		}else{
			 $(firstInput).prop('disabled',true);
		}
	}
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm" th:action="@{/server/queryWorker.html}" method="post">
			<input type="hidden" id="orderId" name="orderId"   th:value="${orderId}"/>
			<input type="hidden" id="busiDate" name="busiDate"   th:value="${busiDate}"/>
			<input type="hidden" id="startTime" name="startTime"   th:value="${startTime}"/>
			<div style="width:100%;height:20px;">
		<labe>服务日期：</labe><label id="serviceDate" th:text="${busiDate}"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<labe>开始时间：</labe><label id="startTime" th:text="${startTime}"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<labe>持续时间：</labe><label id="druationTime" th:text="${druation}"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<labe>持续月份：</labe><label id="durationMonth" th:text="${durationMonth}"></label>个月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<labe>已分派给：</labe><label id="dispatchPerson" th:text="${workerName}"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
			<div style="border: solid 1px #cccccc; margin: 5px 0px; height: 50px">
			  <div style="width:100%;float:left">
				<div id="qry" class="row" style="margin-top: 10px;margin-left:0px">
						<div class="col-xs-4" style="width: 220px">
							<label style="width: 60px; text-align: right">门店:</label> <select
								name="storeId" style="height: 25px; width: 120px">
								<option value="">全部</option>
								<option th:each="store : ${storeList}" th:value="${store.id}"
									th:text="${store.name}" th:selected="${storeId == store.id}"></option>
							</select>
						</div>
						<div class="col-xs-4" style="width: 200px">
							<label>姓名:</label> <input name="name" id="name" size="12"
								th:value="${parms.name}" />
						</div>
						<button type="submit" class="btn btn-primary"   name="btnQuery" id="btnQuery"  >查询</button> 
				</div>
				</div>
			</div>
			<div id="tbdata" style="width:100%;overflow: scroll;margin-top:10px">
			<table class="table table-bordered table-striped" >
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>姓名</th>
						<th>联系方式</th>
						<th>门店</th>
						<th>工作时间</th>
						<th>时长</th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="item,itemStat : ${pageView.resultList}">
						<td style="width:20px">
							<input type="checkbox" id="cbchooseworker" onclick="refreshTimesheet(this)" th:name="'aid'+${itemStat.index}" th:value="${item.id}"/>
						</td>
						<td style="width:35px" th:text="${item.name}"></td>
						<td th:text="${item.phone}"></td>
						<td th:text="${item.areaName}"></td>
						<td th:text="${item.workTimeName}"></td>
						<td>
							<input type="text" th:name="'druation'+${itemStat.index}"  xtype="drua"   size="8"  disabled="true"/>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" th:value="${pageView.currentPageNum}"/>
			  			<input type="hidden" name="totalPageCnt" th:value="${pageView.totalPageCnt}"/>
			  			<input type="hidden" name="totalRecord" th:value="${pageView.totalRecord}"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="dispatchOrder()">分配</button>
				</div> 
			</div>
		</div>
		<div style="width:100%;height:20px;">
		<labe>日程表</labe>
		</div>
		<div style="width:100%;border:1px solid #ddd;height:200px;">
			<iframe width="100%" height="90%"   frameborder="false" marginwidth="0px" scrolling="yes" allowtransparency="true" style="border: medium none;overflow:auto;"  id="timesheetPage" name="timesheetPage"></iframe>
		</div>
		
	</form>
	</div>

</body>
</html>