<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>订单查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
 	function exportExcel(){
		var path = basePath+"/stat/exportAlbumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path).submit();
 	}
 	
 	function query(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path).submit();
 	}
 	
 	function resetAction(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path);
 	}
 	
 	function showModal(){
 		var path = basePath+"/server/queryWorker.html?orderId=1";
 		window.open(path,'win',"height=300,width=500,top=300,left=300,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no,status=no")
 	}
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm" th:action="@{/server/queryOrder.html}" method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
		 <div class="row" id="qry" style="margin-right:15px;">
		 	<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:15px 15px;padding:10px 10px">
		 		<div class="col-xs-4" style="width:380px">
		 			<label>交易时间:</label>
		 			<input name="startTime" class="input-append date" id="startTime" size="12"  onfocus="this.blur()"  th:value="${startTime}"/> -
		 			<input name="endTime" id="endTime"   onfocus="this.blur()" th:value="${endTime}" size="12"/>
		 		</div>
		 		<div class="col-xs-4" style="width:220px">
		 			<label>地区:</label>
		 			<select  name="areaId" style="height:30px;width:120px" >
		 				<option value="">全部</option>
							<option th:each="area : ${areaList}"
								th:value="${area.id}" th:text="${area.name}"
								th:selected="${areaId == area.id}"></option>
					</select>
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 		<label>服务日期:</label>
		 		<input name="serviceDate" class="input-append date" id="serviceDate" size="12"  onfocus="this.blur()"  th:value="${serviceDate}"/>
		 		</div>	
		 		<div class="col-xs-4" style="width:220px">
		 		<label>服务类型:</label>
		 		 <select  name="serviceType" style="height:30px;width:120px" >
		 				<option value="">全部</option>
							<option value="CC" th:selected="${serviceType == 'CC'}">日常宝洁</option>
							<option value="DBJ" th:selected="${serviceType == 'DBJ'}">大宝洁</option>
							<option value="KH" th:selected="${serviceType == 'KH'}">开荒</option>
							<option value="CBL" th:selected="${serviceType == 'CBL'}">擦玻璃</option>
					</select>
		 		</div>		
		 			
		 		<div class="col-xs-2">
		 			<button type="submit" class="btn btn-primary"   name="btnQuery" id="btnQuery"  >查询</button> 
		 		</div>
		 	</div>
		 </div>
		 <div id="tbdata" style="width:100%;overflow: scroll">
			<table class="table table-bordered table-striped" style="width:2000px">
				<thead>
					<tr>
						<th>订单号</th>
						<th>手机号</th>
						<th>地址</th>
						<th>支付金额</th>
						<th>交易时间</th>
						<th>交易方式</th>
						<th>服务类型</th>
						<th>服务时间</th>
						<th>周期</th>
						<th>持续时间</th>
						<th>面积</th>
						<th>内窗数量</th>
						<th>阳台数量</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="item : ${pageView.resultList}">
						<td style="width:35px" th:text="${item.outTradeNo}"></td>
						<td th:text="${item.mobileNo}"></td>
						<td th:text="${item.fullAddress}"></td>
						<td th:text="${item.totalFee}"></td>
						<td th:text="${item.payTime}"></td>
						<td th:text="${item.payModeText}"></td>
						<td th:text="${item.serviceTypeText}"></td>
						<td th:text="${item.serviceDate}"></td>
						<td th:text="${item.cycleTypeText}"></td>
						<td th:text="${item.durationMonth}"></td>
						<td th:text="${item.area}"></td>
						<td th:text="${item.windowCount}"></td>
						<td th:text="${item.balconyCount}"></td>
						<td th:text="${item.stateText}"></td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" th:value="${pageView.currentPageNum}"/>
			  			<input type="hidden" name="totalPageCnt" th:value="${pageView.totalPageCnt}"/>
			  			<input type="hidden" name="totalRecord" th:value="${pageView.totalRecord}"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showModal()">派单</button>
				</div> 
			</div>
		</div>
	</form>
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
            $('#startTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false,
                minView:2
            });
        
            $('#endTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            $('#serviceDate').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            
        /*]]>*/
    </script>

</body>
</html>