<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>订单查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
 	 
/*<![CDATA[*/
 	function showModal(){
 		var len=$('input:checked').length;
 		 
 		if(len==1){
 			var oid=$('input:checked').val();
 			var chb=$('input:checked');
 			var busiDate=$(chb).attr('busiDate');
 			var startTime=$(chb).attr('startTime');
 			var druation=$(chb).attr('druation');
 			var areaId=$(chb).attr('areaId');
 			if (typeof(druation) == "undefined"){
 				druation='';
 			}
 			var durationMonth=$(chb).attr('durationMonth');
 			if (typeof(durationMonth) == "undefined"){
 				durationMonth='0';
 			}
 			var state=$('input:checked').attr('state');
 			
 			var serviceType=$(chb).attr('serviceType');
 			if(serviceType=='JZY'||
 					serviceType=='YYS'|| 
 					serviceType=='YS'||
 					serviceType=='YL'||
 					serviceType=='XSG'||
 					serviceType=='YYHG'){
 				if(state=='F'){
 	 				alert('订单状态不符合分配要求！');
 	 				return;
 	 			}
 				var path = basePath+"/server/orderDispatchInit4jzInit.html?orderId="+oid;
 	 	 		window.open(path,'win',"height=300,width=400,top=50,left=100,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no,status=no");
 			}else{
 				if(state!='P' &&  state!='C'){
 	 				alert('订单状态不符合分配要求！');
 	 				return;
 	 			}
 				var path = basePath+"/server/dispatchInit.html?orderId="+oid+"&busiDate="+busiDate+"&startTime="+startTime+"&druation="+druation+"&role=A"+"&durationMonth="+durationMonth;
 	 	 		window.open(path,'win',"height=700,width=1000,top=50,left=100,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no,status=no");
 			}
 			
		}
 	}
 	 /*]]>*/
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm" th:action="@{/server/queryOrder.html}" method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
			<input type="hidden" id="finished" name="finished"   th:value="${finished}"/>
		 <div class="row" id="qry"  >
		 	<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:0 0 ;padding:0 0;height:100px;margin-bottom:15px;margin-top:10px ">
		 		<div style="height:80px;float:left;width:85%">
		 			 	<div style="height:80px;">
		 			<div style="height:40px;margin-top:15px">
		 			 	<div class="col-xs-4" style="width:380px">
		 			<label>交易时间:</label>
		 			<input name="startTime" class="input-append date" id="startTime" size="12"  onfocus="this.blur()"  th:value="${startTime}"/> -
		 			<input name="endTime" id="endTime"   onfocus="this.blur()" th:value="${endTime}" size="12"/>
		 		</div>
		 		<div class="col-xs-4" style="width:220px">
		 			<label>地区:</label>
		 			<select  name="areaId" style="height:25px;width:120px" >
		 				<option value="">全部</option>
							<option th:each="area : ${areaList}"
								th:value="${area.id}" th:text="${area.name}"
								th:selected="${areaId == area.id}"></option>
					</select>
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 		<label>服务日期:</label>
		 		<input name="serviceDate" class="input-append date" id="serviceDate" size="12"  onfocus="this.blur()"  th:value="${serviceDate}"/>
		 		</div>	
		 		<div class="col-xs-4" style="width:220px">
		 		<!-- <label>服务类型:</label>
		 		 <select  name="serviceType" style="height:25px;width:120px" >
		 				<option value="">全部</option>
							<option value="CC" th:selected="${serviceType == 'CC'}">日常保洁</option>
							<option value="DBJ" th:selected="${serviceType == 'DBJ'}">水溶</option>
							<option value="KH" th:selected="${serviceType == 'KH'}">新居开荒</option>
							<option value="CBL" th:selected="${serviceType == 'CBL'}">擦玻璃</option>
							<option value="JZY" th:selected="${serviceType == 'JZY'}">家政员</option>
							<option value="YYS" th:selected="${serviceType == 'YYS'}">育婴师</option>
							<option value="YS" th:selected="${serviceType == 'YS'}">月嫂</option>
							<option value="YL" th:selected="${serviceType == 'YL'}">养老</option>
							<option value="XSG" th:selected="${serviceType == 'XSG'}">小时工</option>
							<option value="YYHG" th:selected="${serviceType == 'YYHG'}">医院护工</option>
					</select> -->
					<label>订单分类:</label>
		 		 <select  name="serviceTypeOne" style="height:25px;width:120px" >
		 				<option value="">全部</option>
							<option value="BJ" th:selected="${serviceTypeOne == 'BJ'}">保洁</option>
							<option value="JZ" th:selected="${serviceTypeOne == 'JZ'}">家政</option> 
					</select> 
		 		</div>		
		 			
		 			 </div>
		 			 <div style="height:30px;">
		 			 	<div class="col-xs-4" style="width:380px">
		 					<label>联系方式:</label>
		 					<input name="mobileNo"   id="mobileNo"   th:value="${mobileNo}"/>
		 				</div>	
		 				<div class="col-xs-4" style="width:300px" th:if="${finished=='N'}">
		 					<label>状态:</label>
		 					<select  name="state" style="height:25px;width:120px" >
			 					<option value="">全部</option>
								<option value="P" th:selected="${state == 'P'}">已支付</option>
								<option value="U" th:selected="${state == 'U'}">未支付</option>
								<option value="C" th:selected="${state == 'C'}">已确认</option>
							</select>
		 				</div>
		 			 </div>		
		 			</div>
		 			
		 		</div>
		 		<div style="text-align:center;width:100px;height:80px;float:right;margin-top:30px">
		 			<button type="submit" class="btn btn-primary"   name="btnQuery" id="btnQuery" style="margin-bottom:60px;float:left" >查询</button> 
		 		</div>
		 	</div>
		 </div>
		 <div id="tbdata" style="width:100%;overflow: scroll">
			<table class="table table-bordered table-striped" style="width:2700px">
				<thead>
					<tr>
						<th></th>
						<th>姓名</th>
						<th>手机号</th>
						<th>地址</th>
						<th>支付金额</th>
						<th>状态</th>
						<th>交易时间</th>
						<th>交易方式</th>
						<th>阿姨</th>
						<th>优惠券/余额</th>
						<th>服务类型</th>
						<th>服务时间</th>
						<th>开始时间</th>
						<th>时长</th>
						<th>周期</th>
						<th>持续时间(月)</th>
						<th>星期</th>
						<th>面积</th>
						<th>内窗数量</th>
						<th>阳台数量</th>
						<th>交易号</th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="item : ${orderPageViews.resultList}">
						<td style="width:20px">
							<input type="checkbox" id="cbchooseworker" name="orderId" th:attr="value=''+${item.id}+'',state=''+${item.state}+'',busiDate=''+${item.serviceDate}+'',startTime=''+${item.startTime}+'',druation=''+${item.duration}+'',areaId=''+${item.areaId}+'',durationMonth=''+${item.durationMonth}+'',serviceType=''+${item.serviceType}" />
						</td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.mobileNo}"></td>
						<td nowrap='nowrap' th:text="${item.fullAddress}"></td>
						<td th:text="${item.totalFee}"></td>
						<td th:text="${item.stateText}"></td>
						<td th:text="${item.payTime}"></td>
						<td th:text="${item.payModeText}"></td>
						<td th:text="${item.workers}"></td>
						<td th:text="${item.balanceCouponFee}"></td>
						<td th:text="${item.serviceTypeText}"></td>
						<td th:text="${item.serviceDate}"></td>
						<td th:text="${item.startTime}"></td>
						<td th:text="${item.duration}"></td>
						<td th:text="${item.cycleTypeText}"></td>
						<td th:text="${item.durationMonth}"></td>
						<td th:text="${item.repeatInWeek}"></td>
						<td th:text="${item.area}"></td>
						<td th:text="${item.windowCount}"></td>
						<td th:text="${item.balconyCount}"></td>
						<td style="width:35px" th:text="${item.outTradeNo}"></td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" th:value="${orderPageViews.currentPageNum}"/>
			  			<input type="hidden" name="totalPageCnt" th:value="${orderPageViews.totalPageCnt}"/>
			  			<input type="hidden" name="totalRecord" th:value="${orderPageViews.totalRecord}"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"  th:if="${session.user.role=='M'} or  ${session.user.role=='D'} or ${session.user.role=='T'}"  
						onclick="showModal()">派单</button>
				</div> 
			</div>
		</div>
	</form>
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
            $('#startTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false,
                minView:2
            });
        
            $('#endTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            $('#serviceDate').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            
        /*]]>*/
    </script>

</body>
</html>