<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>添加地址</title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.autocomplete.js}"></script> 
<script th:src="@{/app/js/public.js}"></script>
<script type="text/javascript">
//<![CDATA[
$().ready(function() {
	$('#autocompleteInput').autocomplete({
        source:function(query,process){
        	var areaId=$("#areaId").val();
            var matchCount = 10;//返回结果集最大数量
            var communityName=$('#autocompleteInput').val();
            $.post(
            		basePath+"/client/getCommunitys?areaId="+areaId+'&communityName='+communityName,{"matchInfo":query,"matchCount":matchCount},function(respData){
                return process(respData,$('#autocompleteInput'),$("#spnwarngin"));
            });
        },
        formatItem:function(item){
        	
            return item["name"] ;
        },
        setValue:function(item){
            return {'data-value':item["name"],'real-value':item["id"]};
        }
    });
	/*]]>*/
 
$("#goBtn").click(function(){ //获取文本框的实际值
        var regionCode = $("#autocompleteInput").attr("real-value") || "";
        alert(regionCode);
    });
    

/*<![CDATA[*/
$("#btnSure").click(function(){
	//window.location.href=basePath+"/client/addressSelect.html";
	var res= validate();
	if(res==true){
		$("#communityId").val($("#autocompleteInput").attr("real-value"));
		 var path = basePath+"/client/addAddress.html";  
		$('#aform').attr("action", path).submit(); 
	}
	 
});
/*]]>*/
    
});


function validate(){
	var res=true;
	var relVal= $("#autocompleteInput").attr("real-value");
	var addressDetail=$("#addressDetail").val();
	var areaId=$("#areaId").val();
	if(areaId==''){
		$("#spnwarngin").text("请选择区域！");
		return false;
	}
	
	/**if(relVal=='' || $("#autocompleteInput").val()==''){
		$("#spnwarngin").text("请选择小区！");
		res=false;
		return res;
	}**/
	if(addressDetail==''){
		$("#spnwarngin").text("请输入详细地址！");
		res=false;
		return res;
	}
	return res;
	
	
}

function showAreaModal(){
	$('#areaModal').modal({
	      keyboard: true
	   })
}

function fillContent(target){
	var areaId=$(target).prop('value');
	var areaName=$(target).attr('areaName');
	$("#spanArea").html(areaName);
	$("#areaId").val(areaId);
	$("#areaModal").modal('hide');
}

</script>


</head>

<body>
	<form action="/saveInfo" id="aform" method="post">
		<div class="container-fluid">
			<div class="row" id="image" style="height:20px;" >
				<input type="hidden" name="openId" th:value="${order.openId}" id="openId" />
				<input type="hidden" name="serviceType" th:value="${order.serviceType}" id="openId" />
			</div>
			<ul class="list-group" style="display:none">
				<li class="list-group-item">
					<input type="text" placeholder="请输入您的姓名" class="form-control" id="userName"/>
				</li> 
				<li class="list-group-item">
					<input type="text" placeholder="请输入您的联系方式" class="form-control" id="mobileNo"/>
				</li> 
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<label>城市：</label> 天津
				</li>  
				<li class="list-group-item" onclick="showAreaModal()">
					<label>区域：</label> <span id="spanArea">请选择</span>
					<input type="hidden" id="areaId" name="areaId" />
					<span class="badge">></span>
				</li> 
			</ul>
			<ul class="list-group">
				<li class="list-group-item" style="display:none">
					<input type="hidden" name="communityId" id="communityId"/>
					<input type="text" placeholder="请输入小区名称" real-value="" name="communityName" class="form-control" id="autocompleteInput"/>
				</li> 
				<li class="list-group-item">
					<input type="text" placeholder="请输入详细地址，如9号楼3单元301" class="form-control" id="addressDetail" name="addressDetail"/>
				</li> 
			</ul>
			
			
			
			<!--<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="input-group input-group-lg ">
						<input type="text" class="form-control" id="autocompleteInput"/><span class="input-group-btn">
							<button class="btn btn-default" id="goBtn" type="button">Go</button>
						</span> 
					</div><br/> 
					 
				</div>
				<div class="col-md-1"></div>
			</div>-->
			<div class="row" id="warnginInfo">
				<div class="col-xs-1"/>
				<div>
					 <span id="spnwarngin" style="font-weight:bold;color:red"></span>
				</div>
				<div class="col-xs-1"/>
			</div>
			
			
			<div class="row">
				<div class="col-xs-2"/>
				<div>
					<button type="button" id="btnSure" class="btn col-xs-8 btn-default btn-lg">确定</button>
				</div>
				<div class="col-xs-2"/>
			</div>
		</div>
	</form>
	
	<!-- 模态框（Modal） -->
<div class="modal fade" id="areaModal" tabindex="-1" role="dialog" style="margin-top:100px"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
      <!--    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
              选择区域
            </h4>
         </div> -->
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item"  th:attr="value=''+${area.id}+'',areaName=''+${area.name}+''"  onclick="fillContent(this)"  th:each="area : ${areaList}">
					<span  th:text="${area.name}"> </span>
				</li> 
			</ul>
         </div>
         <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div> -->
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
