<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>选择地址</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
 .borderselected{
 	border:1px solid red
 }
</style>

<script type="text/javascript">
	 function toAddressAdd(){
		 var path = basePath+"/client/addAddressInit";  
			$('#aform').attr("action", path).submit();
	 }
	 
	 function setDefault(){
		var userAddressId=$(".borderselected").attr('value');
		var fullAddress=$(".borderselected").attr('fullAddress');
		 var path = basePath+"/client/cleanIndex.html"; 
		 $("#userAddressId").val(userAddressId);
		 $("#fullAddress").val(fullAddress);
		 if($("#fullAddress").val()==''  ){
			 alert('请选择地址！');
			 return ;
		 }
		 $('#aform').attr("action", path).submit();
	 }
	 
	 function selected(target){
		 if($(target).hasClass('borderselected')){
			 $(target).removeClass('borderselected');
		 }else{
			 $("ul[xtype='addrsel']").removeClass('borderselected');
			 $(target).addClass('borderselected');
		 }
	 }
	 
	 function  deleteUserAddress(){
		 var userAddressId=$(".borderselected").attr('value');
		 if (typeof(userAddressId) == "undefined") return;
			 $.ajax({
	            type: "POST",
	            url: basePath+'/client/deleteUserAdderss',
	            data:"userAddressId="+userAddressId,
	            success: function(data) {
	            	if(data=="S"){
	            		$(".borderselected").hide();
	            	}else{
	            		 alert('删除失败 ！');
	            	}
	            }
	        }); 
		}
</script>



</head>

<body>
	<form th:action="@{/client/login}" method="post" id="aform">
		<div class="container-fluid">
		<div style="height:20px">
			<input type="hidden" name="userAddressId" id="userAddressId"  th:value="${order.userAddressId}"/>
			<input type="hidden"  id="fullAddress" name="fullAddress" th:value="${order.fullAddress}"/>
			
			<input type="hidden" name="mobileNo" th:value="${order.mobileNo}"/>
			<input type="hidden" name="serviceDate"  th:value="${order.serviceDate}"/>
			<input type="hidden" name="duration"  th:value="${order.duration}"/>
			<input type="hidden" name="startTime"  th:value="${order.startTime}"/>
			<input type="hidden" name="endTime"  th:value="${order.endTime}"/>
			<input type="hidden" name="servicetype"  th:value="${order.servicetype}"/>
			<input type="hidden" name="cycleType"  th:value="${order.cycleType}"/>
			
		</div>
		
		<ul class="list-group" xtype='addrsel' onclick="selected(this)"   th:attr="value=''+${address.id}+'',fullAddress=''+${address.fullAddress}+''"  th:each="address : ${addressList}">
			<li class="list-group-item">
				<label th:text="${address.areaNameAndCommunityName}"></label><br/>
				<span th:text="${address.detailAddress}"> </span>
			</li> 
		</ul>
		 
		<div class="row">
			<div class="col-xs-1"/>
			<div>
				<button type="button" id="btnAddAddress" onclick="toAddressAdd()" class="btn col-xs-10 btn-default btn-lg">添加新地址</button>
			</div>
			<div class="col-xs-1"/>
		</div>
		<div style="margin-top:20px;"></div>
		<div class="row">
			<div class="col-xs-1"/>
			<div>
				<button type="button" onclick="deleteUserAddress()" class="btn col-xs-5 btn-danger btn-lg">删除该地址</button>&nbsp;
				<button type="button" class="btn col-xs-5  btn-primary btn-lg" onclick="setDefault()">选择</button>
			</div>
			<div class="col-xs-1"/>
		</div>
		 
		</div>
		
	</form>
</body>
</html>
