<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>保洁</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
 
</style>

<script type="text/javascript">
	 function cbcheck(){
		 if($("#cbprovide").prop("checked")==true){
			 $("#cbprovide").prop("checked",false);
		 }else{
			 $("#cbprovide").prop("checked",true);
		 }
	 }
	 
	 function toAddressSelect(){
		 //window.open (basePath+"/client/addressSelect.html",'newwindow','height=300,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
			var path = basePath+"/client/addressSelect.html";  
			$('#aform').attr("action", path).submit();
	 }
	 
	 function toDateSelect(){
		 if($("#userAddressId").val()=='' || $("#userAddressId").val()=='0'){
			 $("#spnwarngin").text('请先选择地址！');
			 return ;
		 }
		 
		 var path = basePath+"/client/serviceDate";  
			$('#aform').attr("action", path).submit();
		 // window.open (basePath+"/client/serviceDate",'newwindow','height=300,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
	 }
	 
	 
	 function initServiceDate(){
		 var serviceDate=$("#serviceDate").val();
		 var drationText=$("#durationText").val();
		 var repeatWeeks=$("#repeatInWeek").val();
		 var repeatInWeekText=$("#repeatInWeekText").val();
		 console.log('vvvvv='+repeatWeeks);
		 var repeatInWeekTextRes=getWeekRepeattText(repeatInWeekText);
		 console.log('xxxxxxxx='+repeatInWeekText);
		 var durationMonthText=$("#durationMonthText").val();
		 var serviceType=$("#serviceType").val();
		 if(serviceType=='CC'){
			 $("#spnServiceDate").text(serviceDate+" "+drationText+" "+repeatInWeekTextRes+" "+durationMonthText);
		 }else{
			 var startTime=$("#startTime").val();
			 if(startTime!==''){
				 $("#spnServiceDate").text(serviceDate+" "+startTime+":00");
			 }
		 }
		 console.info(serviceDate);
		
		 
	 }
	 
	 
	 /*<![CDATA[*/
	 function getWeekRepeattText(weekRepeatValue){
		 var weeks=weekRepeatValue.split(',');
		 var res="";
			for(var i=0;i<weeks.length;i++){
				var week=weeks[i];
				if(i>0){
					week=week.replace('星期','');
				}
				res=res+week+",";
			}
		 if(res.length>0){
			 res=res.substring(0,res.length-1);
		 }
		 return res;
	 }
	
	 
	 $(function () {
		 initServiceDate();
		 showOrHide();
	  });
	 
	 function showCleanTools(){
		 $('#cleanToosModel').modal({
		      keyboard: true
		   })
	 }
	 
	 function showOrHide(){
		 if($("#serviceType").val()=='DBJ'){
			 $("#ularea").show();
		 }
	 }
	 
	 
	 function toOrderConfirm(){
		 
		 if($("#userAddressId").val()=='' || $("#userAddressId").val()=='0'){
			 $("#spnwarngin").text('请选择地址！');
			 return;
		 }
		 
		 if($("#serviceDate").val()==''){
			 $("#spnwarngin").text('请选择服务时间！');
			 return;
		 }
		 
		 if($("#txtmobileNo").val()==''){
			 $("#spnwarngin").text('请输入联系方式！');
			 return;
		 }
		 if(isNaN($("#txtmobileNo").val())){
			 $("#spnwarngin").text('请输入正确的联系方式！');
			 return;
		 }
		 
		 if($("#txtmobileNo").val().length!=8 && $("#txtmobileNo").val().length!=11){
			 $("#spnwarngin").text('请输入正确的联系方式！');
			 return;
		 }
		 
		
		 
		 if($("#serviceType").val()=='DBJ'){
			 if($("#txtArea").val()==''){
				 $("#spnwarngin").text('请输入保洁面积！');
				 return;
			 }
			 if(isNaN($("#txtArea").val())){
				 $("#spnwarngin").text('保洁面积只能为数字！');
				 return;
			 }
			 if(parseInt($("#txtArea").val())<30){
				 $("#spnwarngin").text('保洁面积最少为30平米！');
				 return;
			 }
			 $("#area").val($("#txtArea").val());
		 }
		 
		 if($("#txtName").val()==''){
			 $("#spnwarngin").text('请输入姓名！');
			 return;
		 }
		 
		 if($("#cbprovide").prop('checked')==true){
			 $("#isProviceCleanTools").val('Y');
		 }
		 
		 $("#mobileNo").val($("#txtmobileNo").val());
		 $("#name").val($("#txtName").val());
		 var path = basePath+"/client/cleanOrderConfirm.html";  
		$('#aform').attr("action", path).submit();
		 
	 }
	 /*]]>*/
</script>



</head>

<body>
	<form th:action="@{/client/login}" method="post" id="aform">
		<div style="display:none">
			<input type="hidden" name="openId" id="openId"   th:value="${order.openId}"/>
			<input type="hidden" name="mobileNo" id="mobileNo"   th:value="${order.mobileNo}"/>
			<input type="hidden" name="userAddressId"  id="userAddressId" th:value="${order.userAddressId}"/>
			<input type="hidden" name="fullAddress" id="fullAddress" th:value="${order.fullAddress}"/>
			<input type="hidden" name="serviceDate" id="serviceDate" th:value="${order.serviceDate}"/>
			<input type="hidden" name="duration"  id="duration"  th:value="${order.duration}"/>
			<input type="hidden" name="startTime"  id="startTime"  th:value="${order.startTime}"/>
			<input type="hidden" name="endTime"  id="endTime"  th:value="${order.endTime}"/>
			<input type="hidden" name="serviceType" id="serviceType" th:value="${order.serviceType}"/>
			<input type="hidden" name="cycleType" id="cycleType" th:value="${order.cycleType}"/>
			<input type="hidden" name="durationMonth" id="durationMonth"   th:value="${order.durationMonth}"/>
   			<input type="hidden" name="repeatInWeek" id="repeatInWeek" th:value="${order.repeatInWeek}"/>
			<input type="hidden" name="repeatInWeekText" id="repeatInWeekText" th:value="${order.repeatInWeekText}" />
   			<input type="hidden" name="durationMonthText" id="durationMonthText" th:value="${order.durationMonthText}" />
   			<input type="hidden" name="durationText" id="durationText" th:value="${order.durationText}" />
   			<input type="hidden" name="isProviceCleanTools" id="isProviceCleanTools" th:value="${order.isProviceCleanTools}" />
   			<input type="hidden" name="area" id="area" th:value="${order.area}" />
   			<input type="hidden" name="name" id="name" />
   		
		</div>
		<div class="container-fluid">
		<div style="height:20px"></div>
		<ul class="list-group">
  				<li class="list-group-item" onclick="toAddressSelect()">
  					<label>地址：</label><span th:text="${order.fullAddress}"></span>
  					<span class="badge">></span>
  				</li>
			<li class="list-group-item" onclick="toDateSelect()">
				<label>服务时间：</label><span id="spnServiceDate" th:text="${order.serviceDate}"></span>
  					<span class="badge">></span>
			</li>
		</ul>
		<ul class="list-group" id="ularea" style="display:none">
			<li class="list-group-item">
				<input type="text" placeholder="请输入保洁面积,单位：平方米"   name="txtArea" class="form-control" id="txtArea"/>
			</li> 
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<input type="text" placeholder="请输入姓名"   name="txtName" value=""  class="form-control" id="txtName"/>
			</li> 
			<li class="list-group-item">
				<input type="text" placeholder="请输入联系方式"   name="txtmobileNo" th:value="${mobileNo}"  class="form-control" id="txtmobileNo"/>
			</li> 
		</ul>
		<ul class="list-group" style="display:none">
			<li class="list-group-item">
				<label style="z-index:1000" onclick="return showCleanTools();">由幸福家缘提供 <font color="red">保洁用品(</font>
					<span style="color:red" th:text="${cleanToolsFee}"></span><span  style="color:red">元)</span>
				</label> 
				<span  onclick="cbcheck()" style="width:30%;display:inline-block">&nbsp;</span>
				<input type="checkbox" style="float:right" id="cbprovide"/>
			</li> 
		</ul>
		<div class="row" id="warnginInfo">
				<div class="col-xs-1"/>
				<div>
					 <span id="spnwarngin" style="font-weight:bold;color:red"></span>
				</div>
				<div class="col-xs-1"/>
			</div>
			
		
		<div class="row">
			<div class="col-xs-2"/>
			<div>
				<button type="button" onclick="toOrderConfirm()" class="btn col-xs-8 btn-default btn-lg">确定</button>
			</div>
			<div class="col-xs-2"/>
		</div>
		 
		</div>
	</form>
	
	<div class="modal fade" id="cleanToosModel" tabindex="-1" role="dialog" style="margin-top:100px" onclick="javascript: $('#cleanToosModel').modal('hide');"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item" th:each="cleanTools : ${cleanToolsList}">
					<span th:text="${cleanTools.toolName}"></span>
					<span th:text="${cleanTools.amount}"></span>
					<span th:text="${cleanTools.unit}"></span>
					<span th:text="${cleanTools.specification}"></span>
				</li>  
			</ul>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
</body>
</html>
