<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单确认</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_002.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_004.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_002.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/app/datepicker/css/mobiscroll.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/app/datepicker/js/mobiscroll.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_003.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_005.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_003.css}" rel="stylesheet" type="text/css" />
<style type="text/css">
 
</style>

<script type="text/javascript">
var prepay_id=''; 
var appId='';
var timeStamp='';
var nonceStr='';
var packages='';
var signType='';
var paySign='';
function createOrder(){
	var couponCheck=$("#payMode4yhq").prop('checked');
	if(couponCheck==true){
		if($("#couponId").val()==''){
			$("#spnwarngin").text('请选择优惠券！');
			return;
		}
	}
	
	$("#btnPay").text('支付中...');
	$("#btnPay").attr("disabled",true); 
	 $.ajax({
            type: "POST",
            url: basePath+'/client/createOrder',
            data:$("#aform").serialize(),
            success: function(data) {
            	if(data.resultCode=="S"){
            		if(data.payMode=='OW' || data.payMode=='WY'|| data.payMode=='WC'){//如果支付方式为
            			prepay_id=data.prepay_id;
                		appId=data.parm.appId;
                		timeStamp=data.parm.timeStamp;
                		nonceStr=data.parm.nonceStr;
                		packages=data.parm.package;
                		paySign=data.parm.paySign;
                		pay();
            		}else{
           			 alert('订单已成功处理！');
        			 $("#btnPay").text('支付成功');
        			 window.location.href=basePath+"/client/index.html?openId="+openId;
        		}
            	}else{
            		 alert('订单处理失败！');
            	}
            }
        }); 
}

/*<![CDATA[*/
function onBridgeReady(){
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest',{
	           "appId" : appId,     //公众号名称，由商户传入     
	           "timeStamp":timeStamp,         //时间戳，自1970年以来的秒数     
	           "nonceStr" : nonceStr, //随机串     
	           "package" : packages,     
	           "signType" : 'MD5',         //微信签名方式：     
	           "paySign" :paySign //微信签名 
	       },
	       function(res){  
	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	        	   $("#btnPay").text('已支付');
	        	   alert('支付成功！');
	           }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	       }
	   ); 
	}



function pay(){
	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	   }else if (document.attachEvent){
	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	   }
	}else{
	   onBridgeReady();
	}
}
 
$(function(){
	disable();
});
function cbcheck(flag){
	 if(flag=='B'){
		 if($("#payMode4ye").prop("checked")==true){
			 $("#payMode4ye").prop("checked",false);
		 }else{
			 $("#payMode4ye").prop("checked",true);
		 }
		
	 }else{
		 if($("#payMode4yhq").prop("checked")==true){
			 $("#payMode4yhq").prop("checked",false);
		 }else{
			 $("#payMode4yhq").prop("checked",true);
		 }
		 
	 }
	 resetCheckBox(flag);
}

function resetCheckBox(flag){
	if(flag=='B'){
		 if($("#payMode4ye").prop('checked')==true){
			  $("#payMode4yhq").prop('checked',false);
			  $("#couponId").val('');
			  $("input[name='cbcouponId']").prop('checked',false);
			  $("input[name='cbcouponId']").hide();
			  $("span[name='txtrdcoupon']").hide();
			  $("#payMode").val('OY');
		  }
	 }else{
		 if($("#payMode4yhq").prop('checked')==true){
			 $("#payMode").val('OC');
			  $("#payMode4ye").prop('checked',false);
			  cbcheck4coupon();
		  }
	 }
}


function disable(){
	 var balance= $("#spnfee").text();
	 var iba=parseFloat(balance);
	 if(iba==0){
		 $("#payMode4ye").attr("disabled",true); 
	 }
	 
	 var couponCount=$("#couponCount").val();
	 var icouponCount=parseFloat(couponCount);
	 if(icouponCount==0){
		 $("#payMode4yhq").hide(); 
		 $("#spancoupon").hide();
	 }
}

function cbcheck4coupon(){
	 if($("#payMode4yhq").prop('checked')==true){
		 $("input[name='cbcouponId']").show();
		 $("span[name='txtrdcoupon']").show();
	 }
}
/*]]>*/
	 
</script>



</head>

<body>
	<form th:action="@{/client/login}" method="post" id="aform">
		<div style="display:none">
			<input type="hidden" name="openId" id="openId"   th:value="${order.openId}"/>
			<input type="hidden" name="mobileNo" id="mobileNo"   th:value="${order.mobileNo}"/>
			<input type="hidden" name="userAddressId"  id="userAddressId" th:value="${order.userAddressId}"/>
			<input type="hidden" name="fullAddress" id="fullAddress" th:value="${order.fullAddress}"/>
			<input type="hidden" name="serviceDate" id="serviceDate" th:value="${order.serviceDate}"/>
			<input type="hidden" name="duration"  id="duration"  th:value="${order.duration}"/>
			<input type="hidden" name="startTime"  id="startTime"  th:value="${order.startTime}"/>
			<input type="hidden" name="endTime"  id="endTime"  th:value="${order.endTime}"/>
			<input type="hidden" name="serviceType" id="serviceType" th:value="${order.serviceType}"/>
			<input type="hidden" name="cycleType" id="cycleType" th:value="${order.cycleType}"/>
			<input type="hidden" name="durationMonth" id="durationMonth"   th:value="${order.durationMonth}"/>
   			<input type="hidden" name="repeatInWeek" id="repeatInWeek" th:value="${order.repeatInWeek}"/>
			<input type="hidden" name="repeatInWeekText" id="repeatInWeekText" th:value="${order.repeatInWeekText}" />
   			<input type="hidden" name="durationMonthText" id="durationMonthText" th:value="${order.durationMonthText}" />
   			<input type="hidden" name="durationText" id="durationText" th:value="${order.durationText}" />
   			<input type="hidden" name="isProviceCleanTools" id="isProviceCleanTools" th:value="${order.isProviceCleanTools}" />
   			<input type="hidden" name="area" id="area" th:value="${order.area}" />
   			<input type="hidden" name="name" id="name" th:value="${order.name}" />
   		
   			<input type="hidden" id="couponCount"  name="couponCount" th:value="${couponCount}" />
   			<input type="hidden" id="couponId"  name="couponId"   />
   			<input type="hidden" id="payMode"  name="payMode"   />
		</div>
		<div class="container-fluid">
		<div style="height:20px"></div>
		<ul class="list-group">
  				<li class="list-group-item">
  					<label>订单金额：</label>
  					<span style="font-weight:bold;color:red" th:text="${order.totalFee}"></span>
  				</li>
		</ul>
		
		
		<ul class="list-group">
  				<li class="list-group-item">
  					<label>地址：</label><span th:text="${order.fullAddress}"></span>
  				</li>
			<li class="list-group-item">
				<label>服务日期：</label>
				<span id="spnServiceDate"  th:text="${order.serviceDate}"></span>
			</li>
			<li class="list-group-item">
				<label>服务时间：</label>
				<span id="spnServiceTime" th:text="${order.startTime}"></span>
				<input type="hidden" name="hdServiceTime" id="hdServiceTime" />
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<label>保洁面积：</label>
				 <span id="spnArea" th:text="${order.area}"></span> <span>平米</span>
			</li>
		</ul>
			<ul class="list-group">
				<li class="list-group-item"><label>姓名：</label> <span
					id="spnServiceDate" th:text="${order.name}"></span></li>
				<li class="list-group-item"><label>联系方式：</label> <span
					id="spnMobielNo" th:text="${order.mobileNo}"></span></li>
			</ul>

			<div style="mragin-top: 15px; height: 40px;font-size:16px">
				<input type="checkbox" style="float: left" id="payMode4ye"
					name="payMode4ye" onchange="resetCheckBox('B')" value="OY" /> <span
					onclick="cbcheck('B')">使用余额(</span><span th:text="${ds.fee}"
					id="spnfee" onclick="cbcheck('B')"></span><span
					onclick="cbcheck('B')">)元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input
					type="checkbox" id="payMode4yhq" name="payMode4yhq"
					onchange="resetCheckBox('C')" value="OC" /> <span
					onclick="cbcheck('C')" id="spancoupon">使用优惠券</span>
			</div>
			<div>
				<span th:each="item:${couponList}"> <input type="radio"
					name="cbcouponId" style="display: none" th:value="${item.id}"
					onclick="javascript:$('#couponId').val($(this).val())" /> <span
					style="display: none" name="txtrdcoupon"
					th:text="${item.cash}+'元&nbsp;&nbsp;&nbsp;&nbsp;'" />
				</span>
			</div>

			<div class="row" id="warnginInfo">
				<div class="col-xs-1"/>
				<div>
					 <span id="spnwarngin" style="font-weight:bold;color:red"></span>
				</div>
				<div class="col-xs-1"/>
			</div>
			
		<div class="row">
			<div class="col-xs-2"/>
			<div>
				<button type="button" onclick="createOrder()" id="btnPay" class="btn col-xs-8 btn-default btn-lg">支付</button>
			</div>
			<div class="col-xs-2"/>
		</div>
		 
		</div>
	</form>
	
	<div class="modal fade" id="cleanToosModel" tabindex="-1" role="dialog" style="margin-top:100px" onclick="javascript: $('#cleanToosModel').modal('hide');"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item" th:each="cleanTools : ${cleanToolsList}">
					<span th:text="${cleanTools.toolName}"></span>
					<span th:text="${cleanTools.amount}"></span>
					<span th:text="${cleanTools.unit}"></span>
					<span th:text="${cleanTools.specification}"></span>
				</li>  
			</ul>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
</body>
</html>
