<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>登录</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<script type="text/javascript">
	function getAuthCode(){
			$.ajax({
	            type: "POST",
	            url: basePath+'/client/getAuthCode',
	            data:$('#loginForm').serialize(),
	            success: function(data) {
	            	 
	            }
	        });
		
	}
</script>


</head>

<body>
	<form th:action="@{/client/login}" method="post" id="loginForm">
		<div class="container-fluid">
			<div style="height:20px;"></div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<img alt="" th:src="@{/app/img/banner.png}" style="width:100%"/>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="input-group input-group-lg ">
						<input type="text" value="18611298927" name="mobileNo" placeholder="请输入手机号" class="form-control" /><span class="input-group-btn">
							<button class="btn btn-default" type="button" onclick="getAuthCode()">获取校验码</button>
						</span> 
					</div><br/>
					<div>
						<input type="text" value="8103" class="form-control input-lg" name="authCode" placeholder="请输入校验码" /> 
					</div>
					<!-- /input-group -->
				</div>
				<div class="col-md-1"></div>
			</div>
			<div style="height:30px;"></div>
			<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-lg" style="width:100%" type="submit">登录</button>
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
		</div>
	</form>
</body>
</html>
