<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
 
</style>

<script type="text/javascript">
$(function(){
    $('#myCarousel').carousel({
 interval: 3000
});
    showOrHide();
    
    if($("#fromPage").val()=='ayi'){
    	$("#dvtomap").show();
    }
    
  });
 
 
 function showOrHide(){
	 var serviceType=$("#serviceType").val();
	 if(serviceType=='CC' ){
		 $('#liArea').hide();
		 $('#liBalconyCount').hide();
		 $('#liWindowCount').hide();
	 }else if(serviceType=='DBJ'){
		 $('#liBalconyCount').hide();
		 $('#liWindowCount').hide();
	 }else if(serviceType=='CBL'){
		$("#liArea").hide();
	 }else if(serviceType=='KH'){
		 $('#liBalconyCount').hide();
		 $('#liWindowCount').hide();
	 }
	 
	 if($("#state").val()=='U'){
		 $("#divpay").show();
	 }
 }
 
 var prepay_id=''; 
 var appId='';
 var timeStamp='';
 var nonceStr='';
 var packages='';
 var signType='';
 var paySign='';
 function createOrder(){
 	$("#btnPay").text('支付中...');
 	$("#btnPay").attr("disabled",true); 
 	 $.ajax({
             type: "POST",
             url: basePath+'/client/createOrder',
             data:$("#aform").serialize(),
             success: function(data) {
             	if(data.resultCode=="S"){
             		prepay_id=data.prepay_id;
             		appId=data.parm.appId;
             		timeStamp=data.parm.timeStamp;
             		nonceStr=data.parm.nonceStr;
             		packages=data.parm.package;
             		paySign=data.parm.paySign;
             		pay();
             	}else{
             		 alert('订单处理失败！');
             	}
             }
         }); 
 }
  
  

 /*<![CDATA[*/
 function onBridgeReady(){
 	   WeixinJSBridge.invoke(
 	       'getBrandWCPayRequest',{
 	           "appId" : appId,     //公众号名称，由商户传入     
 	           "timeStamp":timeStamp,         //时间戳，自1970年以来的秒数     
 	           "nonceStr" : nonceStr, //随机串     
 	           "package" : packages,     
 	           "signType" : 'MD5',         //微信签名方式：     
 	           "paySign" :paySign //微信签名 
 	       },
 	       function(res){  
 	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
 	        	   $("#btnPay").text('已支付');
 	        	   alert('支付成功！');
 	           }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
 	       }
 	   ); 
 	}

 function tomap(){
	 window.location.href="http://map.baidu.com/mobile/webapp/index/index/qt=cur&wd=%E5%A4%A9%E6%B4%A5%E5%B8%82&from=maponline&tn=m01&ie=utf-8=utf-8/tab=line";
	 
 }
 

 /*]]>*/
 function pay(){
 	if (typeof WeixinJSBridge == "undefined"){
 	   if( document.addEventListener ){
 	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
 	   }else if (document.attachEvent){
 	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
 	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
 	   }
 	}else{
 	   onBridgeReady();
 	}
 }
 
</script>
</head>
<body>
   <div style="margin-top:10px">
   	<form method="post" id="aform">
	   	<input type="hidden" th:value="${order.serviceType}" name="serviceType" id="serviceType"/>
	   	<input type="hidden" th:value="${order.outTradeNo}" name="outTradeNo" id="outTradeNo"/>
	   	<input type="hidden" th:value="${order.openId}" name="openId" id="openId"/>
	   	<input type="hidden" th:value="${order.state}" name="state" id="state"/>
	   	<input type="hidden" th:value="${fromPage}" name="fromPage" id="fromPage"/>
   	</form>
   </div>
   <div class="panel panel-default" style="margin-left:5px">
   <div class="panel-heading"  >
   	<h3 class="panel-title" >
   		<span  th:text="__${order.serviceTypeText}__+'('+${order.cycleTypeText}+')'"></span>
      </h3>
   </div>    
   <ul class="list-group">
   	  <li class="list-group-item" >
   	  	<labe>金额：</labe>  
   	  	<span th:text="__${order.totalFee}__+'元'"></span>
   	  </li>
   	  <li class="list-group-item"  >
   	  	<label>下单时间：</label>
   	  	<span  th:text="${order.payTime}"></span>
   	   </li>
      <li class="list-group-item"  id="liserviceDate">
      	<label>服务日期：</label>
      	<span th:text="${order.repeatInWeekText}"></span>
   	  	<span  th:text="${order.serviceDateSet}"></span>
       </li>
       <li class="list-group-item"  id="listartTime">
      	<label>开始时间：</label>
   	  	<span  th:text="${order.startTime} "></span>
   	  	<span>: 00</span>
       </li>
       <li class="list-group-item"  id="liserviceTime">
      	<label>服务时间：</label>
   	  	<span  th:text="${order.durationText} "></span>
       </li>
        <li class="list-group-item">
      	<label>客户姓名：</label>
   	  	<span  th:text="${order.name}"></span>
       </li>
        <li class="list-group-item"  >
      	<label>电话：</label>
   	  	<span  th:text="${order.mobileNo}"></span>
       </li>
      <li class="list-group-item"  >
      	<label>地址：</label>
   	  	<span th:text="${order.fullAddress}"></span>
      </li>
      <li class="list-group-item"  id="liArea">
      	<label>面积：</label>
   	  	<span th:text="${order.area!=null}?${order.area}:''"></span><span>平米</span>
      </li>
       <li class="list-group-item" id="liBalconyCount" >
      	<label>阳台：</label>
   	  	<span th:text="${order.balconyCount!=null}?${order.balconyCount}:''"></span><span>个</span>
      </li>
        <li class="list-group-item"  id="liWindowCount">
      	<label>内窗：</label>
   	  	<span th:text="${order.windowCount!=null}?${order.windowCount}:''"></span><span>个</span>
      </li>
   </ul>
</div>
	<div style="text-align:center;display:none" id="dvtomap">
		<a href="#" onclick="tomap()">打开地图</a>
	</div>

	<div class="row" id="divpay" style="display:none">
			<div class="col-xs-2"/>
			<div>
				<button type="button" onclick="createOrder()" id="btnPay" class="btn col-xs-8 btn-default btn-lg">支付</button>
			</div>
			<div class="col-xs-2"/>
		</div>
</body>
</html>
