<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
 
</style>

<script type="text/javascript">
$(function(){
    $('#myCarousel').carousel({
 interval: 3000
});
  });
  
  function toOrderDetail(target){
	  var oid=$(target).attr('oid');
	  var serviceType=$(target).attr('servicetype');
	  if(serviceType=='JZ'){
		  window.location.href=basePath+"/client/houseKeepingPay.html?orderId="+oid; 
	  }else{
		  window.location.href=basePath+"/client/orderDetail.html?oid="+oid; 
	  }
	  
  }
 
</script>
</head>
<div class="row" id="warnginInfo">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active col-xs-6"   >
			<a href="#home" data-toggle="tab" style="text-align:center">
			未完成 </a></li>
		<li class="col-xs-6"><a href="#ios" data-toggle="tab" style="text-align:center">已完成</a></li>
	</ul>
</div>

<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="home">
<div style="margin-top:20px;margin-left:10px"></div>
<div class="panel panel-default" style="margin-left:5px"  th:each="order : ${resMap.unFinishedOrders}">
   <div class="panel-heading"  >
   	<h3 class="panel-title" th:attr="oid=${order.id}+'',serviceType=''+${order.serviceType}" onclick="toOrderDetail(this)">
   		<span  th:text="${order.serviceTypeText}"></span>
   		<span th:if="${order.cycleTypeText}!=''"><span>(</span><span th:text="${order.cycleTypeText}"></span><span>)</span></span>
   		<span  style="float:right" th:text="${order.stateText}"></span>
      </h3>
   </div>    
   <ul class="list-group" th:attr="oid=${order.id}+'',serviceType=''+${order.serviceType}" onclick="toOrderDetail(this)">
   	  <li class="list-group-item"   th:text="__${order.totalFee}__+'元'"> </li>
      <li class="list-group-item"   th:text="__${order.serviceDate}__+' '+${order.durationText} "> </li>
      <li class="list-group-item"  th:text="${order.fullAddress}"></li>
   </ul>
</div>

   </div>
   <div class="tab-pane fade" id="ios">
      <div style="margin-top:20px;margin-left:10px"></div>
<div class="panel panel-default" style="margin-left:5px"  th:each="order : ${resMap.finishedOrders}">
   <div class="panel-heading"  >
   	<h3 class="panel-title" th:attr="oid=${order.id}+'',serviceType=''+${order.serviceType}" onclick="toOrderDetail(this)">
   		<span  th:text="${order.serviceTypeText}"></span>
   		<span th:if="${order.cycleTypeText}!=''"><span>(</span><span th:text="${order.cycleTypeText}"></span><span>)</span></span>
   		<span  style="float:right" th:text="${order.stateText}"></span>
      </h3>
   </div>    
   <ul class="list-group" th:attr="oid=${order.id}+'',serviceType=''+${order.serviceType}" onclick="toOrderDetail(this)">
   	  <li class="list-group-item"   th:text="__${order.totalFee}__+'元'"> </li>
      <li class="list-group-item"   th:text="__${order.serviceDate}__+' '+${order.durationText} "> </li>
      <li class="list-group-item"  th:text="${order.fullAddress}"></li>
   </ul>
</div>
   </div>
</div>


<body>
	
</body>
</html>
