<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<title>选择日期</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.autocomplete.js}"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_002.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_004.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_002.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/app/datepicker/css/mobiscroll.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/app/datepicker/js/mobiscroll.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_003.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_005.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_003.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/app/js/public.js}"></script>

 

</head>

<body>
	
<ul id="myTab" class="nav nav-tabs">
   <li class="active col-xs-6" ><a href="#home"  data-toggle="tab">零工</a></li>
   <li class="col-xs-6" ><a href="#ios" data-toggle="tab">包月</a></li>
</ul>
<div id="myTabContent" class="tab-content container-fluid">
	<div style="margin-top:20px;">
		<input type="hidden" name="NonReservationTimeIdList" th:value="${NonReservationTimeIdList}"/>
	</div>
		<form id="submitForm" method="post" style="display:none">
		<input type="hidden" name="openId" id="openId"   th:value="${order.openId}"/>
   		<input type="hidden" name="userAddressId" id="userAddressId" th:value="${order.userAddressId}"/>
		<input type="hidden"  id="fullAddress" name="fullAddress" th:value="${order.fullAddress}"/>
   		<input type="hidden" name="serviceDate" id="serviceDate" th:value="${order.serviceDate}"/>
   		<input type="hidden" name="duration" id="duration" th:value="${order.duration}"/>
   		<input type="hidden" name="startTime" id="startTime" th:value="${order.startTime}"/>
   		<input type="hidden" name="endTime" id="endTime" th:value="${order.endTime}"/>
   		<input type="hidden" name="serviceType" id="serviceType" th:value="${order.serviceType}"/>
   		<input type="hidden" name="cycleType" id="cycleType" th:value="${order.cycleType}" />
   		<input type="hidden" name="durationMonth" id="durationMonth" th:value="${order.durationMonth}" />
   		<input type="hidden" name="repeatInWeek" id="repeatInWeek" th:value="${order.repeatInWeek}" />
   		
   		<input type="hidden" name="repeatInWeekText" id="repeatInWeekText" th:value="${order.repeatInWeekText}" />
   		<input type="hidden" name="durationMonthText" id="durationMonthText" th:value="${order.durationMonthText}" />
   		<input type="hidden" name="durationText" id="durationText" th:value="${order.durationText}" />
   	</form>
   <div class="tab-pane fade in active" id="home">
   	<form id="sgform" method="post">
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				 <ul class="list-group" >
   				 <li class="list-group-item"  >
						<label>日期:</label>&nbsp;<span id="spandate4sg"></span>
						<input type="text" id="serviceDate4sg" style="border:0px;width:70%;" onchange="updateDurationState(this)"/>
						<span class="badge">></span>
					</li>  
					<li class="list-group-item" onclick="showModal('sg')" id="lisc">
						<label>时长:</label>&nbsp;<span id="spanserviceDateDuring">2小时</span>
						<input type="hidden" value="2" id="serviceduring4sg"  />
						<span class="badge">></span>
					</li>  
					<li class="list-group-item" onclick="showTimeModal('sg')" id="liStartTimeSg">
						<label>时间:</label>&nbsp;<span id="spanserviceTimesg"></span>
						<input type="hidden" value="" id="serviceTime4sg"  />
						<span class="badge">></span>
					</li>  
				</ul>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row" id="divdrutingtext">
   			<div class="col-md-1">
   				<input type="hidden" id="durationTime4sgStart" />
   				<input type="hidden" id="durationTime4sgEnd" />
   				<input type="hidden" id="durationTime4sgtext" />
   			</div>
   			<div class="col-md-10" id="timesplit2h" th:include="client/timesplit :: timesplitcopy2hours(type='SG')"></div>
   			<div class="col-md-10" id="timesplit3h" style="display:none" th:include="client/timesplit :: timesplitcopy3hours(type='SG')"></div>
   			<div class="col-md-10" id="timesplit4h" style="display:none" th:include="client/timesplit :: timesplitcopy4hours(type='SG')"></div>
   			<div class="col-md-10" id="timesplit5h" style="display:none" th:include="client/timesplit :: timesplitcopy5hours(type='SG')"></div>
   			<div class="col-md-10" id="timesplit6h"  style="display:none" th:include="client/timesplit :: timesplitcopy6hours(type='SG')"></div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1">&nbsp;</div>
   			<div class="col-md-10" id="validateInfo4sg" style="font-weight:bold;color:red;height:30px;"></div>
   			<div class="col-md-1">&nbsp;</div>
   		</div>
   		<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-lg" style="width:100%" onclick="submitsg()" type="button">确定</button>
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
   		</form>
   </div>
   <div class="tab-pane fade" id="ios">
      <form id="byform" method="post">
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				 <ul class="list-group" >
   				 <li class="list-group-item"  >
						<label>日期:</label>&nbsp;<span id="spandate4by"></span>
						<input type="text" id="serviceDate4by" style="border:0px;width:70%;"/>
						<span class="badge">></span>
					</li>  
					<li class="list-group-item" onclick="showModal('by')" id="lidruation">
						<label>时长:</label>&nbsp;<span id="spanserviceDateDuring4by">2小时</span>
						<input type="hidden" value="2" id="serviceduring4by"  />
						<span class="badge">></span>
					</li>  
					<li class="list-group-item" onclick="showTimeModal('by')" id="liStartTimeBy">
						<label>时间:</label>&nbsp;<span id="spanserviceTime4by"></span>
						<input type="hidden" value="" id="serviceTime4by"  />
						<span class="badge">></span>
					</li>  
					<li class="list-group-item" onclick="showDrationMonthModal()">
						<label>持续时间:</label>&nbsp;<span id="spanserviceMonthDuring4by">3个月</span>
						<input type="hidden" value="3" id="serviceduringMonth"  />
						<span class="badge">></span>
					</li> 
					<li class="list-group-item" onclick="showRepeatModal()">
						<label>重复:</label>&nbsp;<span id="spanRepeat"></span>
						<input type="hidden" value="" id="hdrepeatInWeek"  />
						<span class="badge">></span>
					</li> 
				</ul>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row" id="divdruation">
   			<div class="col-md-1">
   				<input type="hidden" id="durationTime4byStart" />
   				<input type="hidden" id="durationTime4byEnd" />
   				<input type="hidden" id="durationTime4bytext" />
   			</div>
   			<div class="col-md-10" id="timesplit2h4by" th:include="client/timesplit :: timesplitcopy2hours(type='BY')"></div>
   			<div class="col-md-10" id="timesplit3h4by" style="display:none" th:include="client/timesplit :: timesplitcopy3hours(type='BY')"></div>
   			<div class="col-md-10" id="timesplit4h4by" style="display:none" th:include="client/timesplit :: timesplitcopy4hours(type='BY')"></div>
   			<div class="col-md-10" id="timesplit5h4by" style="display:none" th:include="client/timesplit :: timesplitcopy5hours(type='BY')"></div>
   			<div class="col-md-10" id="timesplit6h4by"  style="display:none" th:include="client/timesplit :: timesplitcopy6hours(type='BY')"></div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1">&nbsp;</div>
   			<div class="col-md-10" id="validateInfo4by" style="font-weight:bold;color:red;height:30px;"></div>
   			<div class="col-md-1">&nbsp;</div>
   		</div>
   		<div class="row">
				<div class="col-md-4">&nbsp;</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-lg" style="width:100%" onclick="submitby()" type="button">确定</button>
				</div>
				<div class="col-md-4">&nbsp;</div>
			</div>
   		</form>
   </div> 
</div>

	<!-- 模态框（Modal） -->
<div class="modal fade" id="dateSelectModal" tabindex="-1" role="dialog" style="margin-top:100px"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item" value="2" hours="2小时" onclick="fillContent(this)">
					<span>2小时</span>
				</li>  
				<li class="list-group-item" value="3" hours="3小时" onclick="fillContent(this)">
				 	<span>3小时</span>
				</li> 
				<li class="list-group-item"  value="4" hours="4小时" onclick="fillContent(this)">
				 	<span>4小时</span>
				</li>
				<li class="list-group-item"  value="5" hours="5小时" onclick="fillContent(this)">
				 	<span>5小时</span>
				</li>
				<li class="list-group-item"  value="6" hours="6小时" onclick="fillContent(this)">
				 	<span>6小时</span>
				</li> 
			</ul>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="druationMonthSelectModal" tabindex="-1" role="dialog" style="margin-top:100px"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item" months="一个月" value="1" onclick="fillDuringMonth(this)">
					<span>一个月</span>
				</li>  
				<li class="list-group-item" months="两个月" value="2" onclick="fillDuringMonth(this)">
				 	<span>两个月</span>
				</li> 
				<li class="list-group-item"  months="三个月" value="3" onclick="fillDuringMonth(this)">
				 	<span>三个月</span>
				</li>
				<li class="list-group-item"  months="四个月" value="4" onclick="fillDuringMonth(this)">
				 	<span>四个月</span>
				</li>
				<li class="list-group-item"  months="五个月" value="5" onclick="fillDuringMonth(this)">
				 	<span>五个月</span>
				</li> 
				<li class="list-group-item"  months="六个月" value="6" onclick="fillDuringMonth(this)">
				 	<span>六个月</span>
				</li>
				<li class="list-group-item"  months="七个月" value="7" onclick="fillDuringMonth(this)">
				 	<span>七个月</span>
				</li>
				<li class="list-group-item"  months="八个月" value="8" onclick="fillDuringMonth(this)">
				 	<span>八个月</span>
				</li>
				<li class="list-group-item"  months="九个月" value="9" onclick="fillDuringMonth(this)">
				 	<span>九个月</span>
				</li> 
				<li class="list-group-item"  months="十个月" value="10" onclick="fillDuringMonth(this)">
				 	<span>十个月</span>
				</li>
				<li class="list-group-item"  months="十一个月" value="11" onclick="fillDuringMonth(this)">
				 	<span>十一个月</span>
				</li> 
				<li class="list-group-item"  months="十二个月" value="12" onclick="fillDuringMonth(this)">
				 	<span>十二个月</span>
				</li> 
			</ul>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="serviceTimeSelectModal" tabindex="-1" role="dialog" style="margin-top:100px;"  
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body"  style="height:300px;overflow:scroll">
            <ul class="list-group">
				<li class="list-group-item"  value="8" onclick="fillServiceTime(this)" txt="8:00">
					<span>8:00</span>
				</li>  
				<li class="list-group-item"  value="9" onclick="fillServiceTime(this)"  txt="9:00">
				 	<span>9:00</span>
				</li> 
				<li class="list-group-item"   value="10" onclick="fillServiceTime(this)" txt="10:00">
				 	<span>10:00</span>
				</li>
				<li class="list-group-item"  value="11" onclick="fillServiceTime(this)" txt="11:00">
				 	<span>11:00</span>
				</li>
				<li class="list-group-item"  value="12" onclick="fillServiceTime(this)" txt="12:00">
				 	<span>12:00</span>
				</li> 
				<li class="list-group-item"   value="13" onclick="fillServiceTime(this)" txt="13:00">
				 	<span>13:00</span>
				</li>
				<li class="list-group-item"    value="14" onclick="fillServiceTime(this)" txt="14:00">
				 	<span>14:00</span>
				</li>
				<li class="list-group-item"   value="15" onclick="fillServiceTime(this)" txt="15:00">
				 	<span>15:00</span>
				</li>
				<li class="list-group-item"  value="16"   onclick="fillServiceTime(this)" txt="16:00">
				 	<span>16:00</span>
				</li> 
				<li class="list-group-item"  value="17"   onclick="fillServiceTime(this)" txt="17:00">
				 	<span>17:00</span>
				</li>
				<li class="list-group-item"  value="18"   onclick="fillServiceTime(this)" txt="18:00">
				 	<span>18:00</span>
				</li> 
			</ul>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



	<!-- 模态框（Modal） -->
<div class="modal fade" id="repeatInWeekSelectModal" tabindex="-1" role="dialog" style="margin-top:100px"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <ul class="list-group">
				<li class="list-group-item" week="星期一" value="1"  onclick="cbcheck(this)">
					<span>星期一</span>
					<input type="checkbox" style="float:right;" id="cbweek1" week="星期一"  value="1"/>
				</li>  
				<li class="list-group-item" week="星期二" value="2" onclick="cbcheck(this)">
				 	<span>星期二</span>
				 	<input type="checkbox" style="float:right" id="cbweek2" week="星期二" value="2" />
				</li> 
				<li class="list-group-item"  week="星期三" value="3" onclick="cbcheck(this)">
				 	<span>星期三</span>
				 	<input type="checkbox" style="float:right" id="cbweek3" week="星期三" value="3" />
				</li>
				<li class="list-group-item"  week="星期四" value="4" onclick="cbcheck(this)">
				 	<span>星期四</span>
				 	<input type="checkbox" style="float:right" id="cbweek4" week="星期四" value="4"/>
				</li>
				<li class="list-group-item"  week="星期五" value="5" onclick="cbcheck(this)">
				 	<span>星期五</span>
				 	<input type="checkbox" style="float:right" id="cbweek5" week="星期五" value="5"/>
				</li> 
				<li class="list-group-item"  week="星期六" value="6" onclick="cbcheck(this)">
				 	<span>星期六</span>
				 	<input type="checkbox" style="float:right" id="cbweek6" week="星期六" value="6" onclick="cbcheck(this)"/>
				</li>
				<li class="list-group-item"  week="星期七" value="7" onclick="cbcheck(this)">
				 	<span>星期七</span>
				 	<input type="checkbox" style="float:right" id="cbweek7" week="星期七" value="7"/>
				</li> 
			</ul>
         </div>
         <div class="modal-footer" style="margin:0 auto;text-align:center">
            <button type="button" class="btn btn-primary"  onclick="fillWeak(this)">
               确定
            </button>
         </div> 
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	

<script>
   $(function () {
      $('#myTab li:eq(0) a').tab('show');
      
      var currYear = (new Date()).getFullYear();	
  	var opt={};
  	opt.date = {preset : 'date'};
  	opt.datetime = {preset : 'datetime'};
  	opt.time = {preset : 'time'};
  	opt.default = {
  		theme: 'android-ics light', //皮肤样式
          display: 'modal', //显示方式 
          mode: 'scroller', //日期选择模式
  		dateFormat: 'yyyy-mm-dd',
  		lang: 'zh',
  		showNow: true,
  		nowText: "今天",
          startYear: currYear, //开始年份
          endYear: currYear + 10, //结束年份
          minDate: new Date()
  	};

    	
$("button[xtype='tmsel']").click(function(){
    		 if($(this).hasClass('btn-sucess')){
    			 $(this).removeClass('btn-sucess');
    			 $(this).addClass('btn-default');
    			 if($(this).attr('ptype')=='SG'){
    				 $("#durationTime4sgStart").val('');
        			 $("#durationTime4sgEnd").val('');
        			 
    			 }else{
    				 $("#durationTime4byStart").val('');
        			 $("#durationTime4byEnd").val('');
    			 }
    			 
    			
    			 
    		 }else{
    			 $("button[xtype='tmsel']").removeClass('btn-sucess');
    			 $("button[xtype='tmsel']").addClass('btn-default');
    			  $(this).removeClass('btn-default');
    			 $(this).addClass('btn-sucess');
    			 if($(this).attr('ptype')=='SG'){
    				 $("#durationTime4sgStart").val($(this).attr('startTime'));
        			 $("#durationTime4sgEnd").val($(this).attr('endTime'));
        			 $("#durationTime4sgtext").val($(this).text());
    			 }else{
    				 $("#durationTime4byStart").val($(this).attr('startTime'));
        			 $("#durationTime4byEnd").val($(this).attr('endTime'));
        			 $("#durationTime4bytext").val($(this).text());
    			 }
    			 
    			 
    		 }
    		//if($(this)
    	});
    		
    	if($("#serviceDate4sg").val()==''){
    		$("#serviceDate4sg").val(getTomorrow(new Date()));
    	}
    	
    	if($("#serviceDate4by").val()==''){
    		$("#serviceDate4by").val(getTomorrow(new Date()));
    	}
    	
    	$("#serviceDate4sg").mobiscroll($.extend(opt['date'], opt['default']));
    	$("#serviceDate4by").mobiscroll($.extend(opt['date'], opt['default']));
    	
    	if($("#serviceType").val()=='DBJ'){
    		$("#lisc").hide();
    		$("#divdrutingtext").hide();
    		$("#divdruation").hide();
    		$("#lidruation").hide();
    	}else{
    		$("#liStartTimeSg").hide();
    		$("#liStartTimeBy").hide();  
    	}
    	
    	

   });
   
   getTomorrow = function(day)   
   {   
       var str = "";   
     
       str= day.getFullYear() ;     
       str=str+'-'+((day.getMonth()+1)>10? (day.getMonth()+1).toString():'0' +(day.getMonth()+1));   
       str=str+"-"+(day.getDate()>9?(day.getDate()+1).toString():'0' + (day.getDate()+1));   
     
       return str;   
   }   
   
   
   var modealFlag="";
   function showModal(mf){
	   modealFlag=mf;
		$('#dateSelectModal').modal({
		      keyboard: true
		   })
   }
   
   function fillDuringMonth(target){
	   $("#serviceduringMonth").val($(target).val());
	   $("#spanserviceMonthDuring4by").text($(target).attr('months'));
	   $("#druationMonthSelectModal").modal('hide');
	  
   }
   
   function showRepeatModal(){
	   $('#repeatInWeekSelectModal').modal({
		      keyboard: true
		   })
	   
   }
   /*<![CDATA[*/
   function fillWeak(target){
	   var weeksLabel="";
	   var weeksValue="";
	   for(var i=1;i<=7;i++){
		   if($("#cbweek"+i).prop('checked')==true){
			   weeksLabel= weeksLabel+$("#cbweek"+i).attr('week')+",";
			   weeksValue=weeksValue+$("#cbweek"+i).attr('value')+",";
		   }
	   }
	   if(weeksLabel.length>0){
		   weeksLabel=weeksLabel.substring(0,weeksLabel.length-1);
		   weeksValue=weeksValue.substring(0,weeksValue.length-1);
	   }
	   $("#spanRepeat").text(weeksLabel);
	   $("#hdrepeatInWeek").val(weeksValue);
	   
	   $("#repeatInWeekSelectModal").modal('hide');
   }  /*]]>*/
   
   function fillContent(target){
	   var hours=$(target).prop('value');
	  
	   $("#dateSelectModal").modal('hide');
	   if(modealFlag=='sg'){
		   $("#spanserviceDateDuring").html($(target).attr('hours'));
		   $("#serviceduring4sg").val(hours);
		   
		   if(hours=="2"){
			   $("#timesplit2h").show();
			   $("#timesplit3h").hide();
			   $("#timesplit4h").hide();
			   $("#timesplit5h").hide();
			   $("#timesplit6h").hide();
		   }else if(hours=="3"){
			   $("#timesplit2h").hide();
			   $("#timesplit3h").show();
			   $("#timesplit4h").hide();
			   $("#timesplit5h").hide();
			   $("#timesplit6h").hide();
		   }else if(hours=="4"){
			   $("#timesplit2h").hide();
			   $("#timesplit3h").hide();
			   $("#timesplit4h").show();
			   $("#timesplit5h").hide();
			   $("#timesplit6h").hide();
		   }else if(hours=="5"){
			   $("#timesplit2h").hide();
			   $("#timesplit3h").hide();
			   $("#timesplit4h").hide();
			   $("#timesplit5h").show();
			   $("#timesplit6h").hide();
		   }else if(hours=="6"){
			   $("#timesplit2h").hide();
			   $("#timesplit3h").hide();
			   $("#timesplit4h").hide();
			   $("#timesplit5h").hide();
			   $("#timesplit6h").show();
		   }
	   }else{
		   $("#spanserviceDateDuring4by").html($(target).attr('hours'));
		   $("#serviceduring4by").val(hours);
		   
		   if(hours=="2"){
			   $("#timesplit2h4by").show();
			   $("#timesplit3h4by").hide();
			   $("#timesplit4h4by").hide();
			   $("#timesplit5h4by").hide();
			   $("#timesplit6h4by").hide();
		   }else if(hours=="3"){
			   $("#timesplit2h4by").hide();
			   $("#timesplit3h4by").show();
			   $("#timesplit4h4by").hide();
			   $("#timesplit5h4by").hide();
			   $("#timesplit6h").hide();
		   }else if(hours=="4"){
			   $("#timesplit2h4by").hide();
			   $("#timesplit3h4by").hide();
			   $("#timesplit4h4by").show();
			   $("#timesplit5h4by").hide();
			   $("#timesplit6h4by").hide();
		   }else if(hours=="5"){
			   $("#timesplit2h4by").hide();
			   $("#timesplit3h4by").hide();
			   $("#timesplit4h4by").hide();
			   $("#timesplit5h4by").show();
			   $("#timesplit6h4by").hide();
		   }else if(hours=="6"){
			   $("#timesplit2h4by").hide();
			   $("#timesplit3h4by").hide();
			   $("#timesplit4h4by").hide();
			   $("#timesplit5h4by").hide();
			   $("#timesplit6h4by").show();
		   }
	   }
	   
	   
   }
   
   function showDrationMonthModal(){
	   $('#druationMonthSelectModal').modal({
		      keyboard: true
		   })
   }
   
   function cbcheck(target){
	   //var cb = $(target).find("input:last").children();
	  var cbs = $(target).find("input[type=checkbox]");
	   if(cbs.prop("checked")==true){
		   cbs.prop("checked",false);
		 }else{
			 cbs.prop("checked",true);
		 }
	 }
	 
   
 
   function submitsg(){
		   var res=validate();
		   var serviceType=$("#serviceType").val();
		   if(res==true){
				$("#serviceDate").val($("#serviceDate4sg").val());
			   
			   $("#duration").val($("#serviceduring4sg").val());
			   if(serviceType=='CC'){
				   $("#startTime").val($("#durationTime4sgStart").val());
			   }
			   $("#endTime").val($("#durationTime4sgEnd").val());
			   $("#cycleType").val("SG");
			   $("#durationText").val($("#durationTime4sgtext").val());
			   
			   $("#durationMonth").val("");
			   $("#repeatInWeek").val("");
			   $("#repeatInWeekText").val("");
			   $("#durationMonthText").val("");
			  
			   
			  var path = basePath+"/client/cleanIndex.html";  
				$('#submitForm').attr("action", path).submit(); 
		   }
   }
   
   function submitby(){
	   var res=validateby();
	   if(res==true){
		   $("#serviceDate").val($("#serviceDate4by").val());
		   $("#duration").val($("#serviceduring4by").val());
		   $("#startTime").val($("#durationTime4byStart").val());
		   $("#endTime").val($("#durationTime4byEnd").val());
		   $("#cycleType").val("BY");
		   $("#durationMonth").val($("#serviceduringMonth").val());
		   $("#durationText").val($("#durationTime4bytext").val());
		   
		   $("#repeatInWeekText").val( $("#spanRepeat").text());
		   $("#durationMonthText").val($("#spanserviceMonthDuring4by").text());
		   $("#repeatInWeek").val($("#hdrepeatInWeek").val());
		   
		   
		   var path = basePath+"/client/cleanIndex.html";  
			$('#submitForm').attr("action", path).submit(); 
	   }
   }
   
   /*<![CDATA[*/
   function validate(){
	   var res=true;
	   var serviceType=$("#serviceType").val();
	   if($("#serviceDate4sg").val()==''){
		   $("#validateInfo4sg").text('请选择日期!');
		   res=false;
		   return res;
	   }
	   
	   if(serviceType=='CC'){
		   if($("#serviceduring4sg").val()==''){
			   $("#validateInfo4sg").text('请选择时长!');
			  res=false;
			  return res;
		   }
		   
		   if($("#durationTime4sgStart").val()==''){
			   $("#validateInfo4sg").text('请选择时间段!');
			   res=false;
			   return res;
		   }
	   }else{
		   if($("#spanserviceTimesg").text()==''  ){
			   $("#validateInfo4sg").text('请选择时间!');
			   res=false;
			   return res;
		   }
	   }
	
	   var serviceDate=$("#serviceDate4sg").val();
	   var startTime=$("#startTime").val();
	   if(serviceDate==getToday()){
		   if(parseInt(startTime)<=getCurrentHour()){
			   $("#validateInfo4sg").text('服务时间需大于当前时间!');
			   res=false;
			   return res;
		   }
	   }
	  return res;
	   //if($("#validateInfo4sg"))
	   
   }
   /*]]>*/
   
   
   function validateby(){
	   if($("#hdrepeatInWeek").val()==''){
		   $("#validateInfo4by").text('请选择重复时间！');
		   return false;
	   }
	   
	   if($("#serviceType").val()=='CC'){
		   if($("#durationTime4byStart").val()==''){
			   $("#validateInfo4by").text('请选择时间段!');
			  return false;
		   }
	   }else{
		   if($("#spanserviceTime4by").text()==''){
			   $("#validateInfo4by").text('请选择时间!');
			   return false;
		   }
	   }
	   return true;
   }
   
   
   
   /*<![CDATA[*/
   function updateDurationState(target){
	  // alert($(target).val());
	  var serviceType=$("#serviceType").val();
	   var serviceDate=$("#serviceDate4sg").val();
	   var userAddressId=$("#userAddressId").val();
	  console.log('serviceDate='+serviceDate);
	  if(serviceType=='CC'){
		  $.ajax({
	           type: "POST",
	           url: basePath+'/client/getDrationListState?serviceDate='+serviceDate+'&serviceType='+serviceType+'&userAddressId='+userAddressId,
	           data:"",
	           success: function(data) {
	        	   console.log(data);
	        	   for(var i=0;i<data.length;i++){
	                   var tscode= data[i];
	                   $("button[xtype='tmsel']").each(function(){
	                	    if($(this).attr('code')==tscode && $(this).attr('ptype')=='SG'){
	                	    	$(this).attr("disabled","disabled");
	                	    	$(this).text('已约满');
	                	    }
	                   });
	               }
	           }
	       });
	  }
   }
   
   /*]]>*/
   var flagStartTime='';
   function showTimeModal(flag){
	   if(flag=='sg'){
		   flagStartTime='sg';
	   }else{
		   flagStartTime='by';
	   }
	   $("#serviceTimeSelectModal").modal({
		      keyboard: true
	   })
   }
   
   function fillServiceTime(target){
	   $("#startTime").val($(target).attr('value'));
	   $("#serviceTimeSelectModal").modal('hide');
	   if(flagStartTime=='sg'){
		   $("#spanserviceTimesg").text($(target).attr('txt'));
	   }else{
		   $("#spanserviceTime4by").text($(target).attr('txt'));
	   }
	  
   }
   
</script>

</body>
</html>
