<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="timesplitcopy2hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="8" endTime="10">
					    	8:00-10:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="9" endTime="11">
					    	9:00-11:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="10" endTime="12">
					    	10:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="11" endTime="13">
					    	11:00-13:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="12" endTime="14">
					    	12:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="13" endTime="15">
					    	13:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="14" endTime="16">
					    	14:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="15" endTime="17">
					    	15:00-17:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="16" endTime="18">
					    	16:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="17" endTime="19">
					    	17:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="18" endTime="20">
					    	18:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group" xtype="tmsel">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	<div th:fragment="timesplitcopy3hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="8" endTime="11">
					    	8:00-11:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="9" endTime="12">
					    	9:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="10" endTime="13">
					    	10:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="11" endTime="14">
					    	11:00-14:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="12" endTime="15">
					    	12:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel"  startTime="13" endTime="16">
					    	13:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="14" endTime="17">
					    	14:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="15" endTime="18">
					    	15:00-18:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="16" endTime="19">
					    	16:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="17" endTime="20">
					    	17:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					   	&nbsp;
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	
	<div th:fragment="timesplitcopy4hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="8" endTime="12">
					    	8:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="9" endTime="13">
					    	9:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="10" endTime="14">
					    	10:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="11" endTime="15">
					    	11:00-15:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="12" endTime="16">
					    	12:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="13" endTime="17">
					    	13:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="14" endTime="18">
					    	14:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="15" endTime="19">
					    	15:00-19:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="16" endTime="20">
					    	16:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
					  <div class="btn-group" role="group">
					   	&nbsp;
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	
	<div th:fragment="timesplitcopy5hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="8" endTime="13">
					    	8:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="9" endTime="14">
					    	9:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="10" endTime="15">
					    	10:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="11" endTime="16">
					    	11:00-16:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="12" endTime="17">
					    	12:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="13" endTime="18">
					    	13:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="14" endTime="19">
					    	14:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="15" endTime="20">
					    	15:00-20:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div> 
	</div>
	
	
	<div th:fragment="timesplitcopy6hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="8" endTime="14">
					    	8:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="9" endTime="15">
					    	9:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="10" endTime="16">
					    	10:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="11" endTime="17">
					    	11:00-17:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="12" endTime="18">
					    	12:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="13" endTime="19">
					    	13:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" xtype="tmsel" startTime="14" endTime="20">
					    	14:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					   &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div> 
	</div>
	

</body>
</html>
