<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="timesplitcopy2hours(type)" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default"   th:attr="ptype=${type}"     xtype="tmsel" startTime="8" endTime="10" code="0810">
					    	8:00-10:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="9" endTime="11" code="0911">
					    	9:00-11:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="10" endTime="12" code="1012">
					    	10:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="11" endTime="13" code="1113">
					    	11:00-13:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="12" endTime="14" code="1214">
					    	12:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="13" endTime="15" code="1315">
					    	13:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="14" endTime="16" code="1416">
					    	14:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="15" endTime="17" code="1517">
					    	15:00-17:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="16" endTime="18" code="1618">
					    	16:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="17" endTime="19" code="1719">
					    	17:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="18" endTime="20" code="1820">
					    	18:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group" xtype="tmsel">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	<div th:fragment="timesplitcopy3hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="8" endTime="11" code="0811">
					    	8:00-11:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="9" endTime="12" code="0912">
					    	9:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="10" endTime="13" code="1013">
					    	10:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="11" endTime="14" code="1114">
					    	11:00-14:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="12" endTime="15" code="1215">
					    	12:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel"  startTime="13" endTime="16" code="1316">
					    	13:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="14" endTime="17" code="1417">
					    	14:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="15" endTime="18" code="1518">
					    	15:00-18:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="16" endTime="19" code="1619">
					    	16:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="17" endTime="20" code="1720">
					    	17:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					   	&nbsp;
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	
	<div th:fragment="timesplitcopy4hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="8" endTime="12" code="0820">
					    	8:00-12:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="9" endTime="13" code="0913">
					    	9:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="10" endTime="14" code="1014">
					    	10:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="11" endTime="15" code="1115">
					    	11:00-15:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="12" endTime="16" code="1216">
					    	12:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="13" endTime="17" code="1317">
					    	13:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="14" endTime="18" code="1418">
					    	14:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="15" endTime="19" code="1519">
					    	15:00-19:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="16" endTime="20" code="1620">
					    	16:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
					  <div class="btn-group" role="group">
					   	&nbsp;
					  </div>
					  <div class="btn-group" role="group">
					    &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
	</div>
	
	
	<div th:fragment="timesplitcopy5hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="8" endTime="13" code="0813">
					    	8:00-13:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="9" endTime="14" code="0914">
					    	9:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="10" endTime="15" code="1015">
					    	10:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="11" endTime="16" code="1116">
					    	11:00-16:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="12" endTime="17" code="1217">
					    	12:00-17:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="13" endTime="18" code="1318">
					    	13:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="14" endTime="19" code="1419">
					    	14:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="15" endTime="20" code="1520">
					    	15:00-20:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div> 
	</div>
	
	
	<div th:fragment="timesplitcopy6hours" >
		<div style="height:10px;"></div>
   		<div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="8" endTime="14" code="0814">
					    	8:00-14:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="9" endTime="15" code="0915">
					    	9:00-15:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="10" endTime="16" code="1016">
					    	10:00-16:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="11" endTime="17" code="1117">
					    	11:00-17:00
					    </button>
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div>
      <div class="row">
   			<div class="col-md-1"></div>
   			<div class="col-md-10">
   				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="12" endTime="18" code="1218">
					    	12:00-18:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="13" endTime="19" code="1319">
					    	13:00-19:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" th:attr="ptype=${type}" xtype="tmsel" startTime="14" endTime="20" code="1420">
					    	14:00-20:00
					    </button>
					  </div>
					  <div class="btn-group" role="group">
					   &nbsp;
					  </div>
				</div>
   			</div>
   			<div class="col-md-1"></div>
   		</div> 
	</div>
	

</body>
</html>
