<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>阿姨详情</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/public.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
body, html {
	height: 100%;
	overflow-x: hidden;
}

.pto {
	height: 78px;
	background-size: cover;
	-webkit-border-radius: 50%
}
</style>

<script type="text/javascript">
/*<![CDATA[*/
 function toOrderConfirm(){
	 var workerId=$("#workerId").val();
	 var openId=$("#openId").val();
	 window.location.href=basePath+"/client/housekeepingConfirm.html?workerId="+workerId+"&openId="+openId;
 }
 /*]]>*/
</script>
</head>
<body>
	<div style="margin-top: 0px;">
		<input type="hidden" name="workerId" id="workerId" th:value="${worker.id}"/>
		<input type="hidden" name="openId" id="openId" th:value="${openId}"/>
		<div id="dvtopinfo" class="top">
			<div class="photobg">
				<!-- <img alt="" src="" style="width:100%;height:100%"/> -->
				<div class="pto" th:style="'background-image:url(http://weixin.tjxfjz.com/xfjy/app/uploadfiles/workerphoto/'+${worker.photo}+');'"></div>
			</div>
			<div style="height:80px;float:left;margin-top:50px;margin-left:15px">
				<span style="font-weight:bold" th:text="${worker.name}"></span><br/>
				<span>参考工资：</span><span th:text="${worker.salary}"></span><span>元/月</span><br/>
				<span th:text="${worker.yearsOld}"></span><span>岁&nbsp;|&nbsp;</span><span th:text="${worker.nativePlace}"></span><span>人</span><br/>
				<span th:text="${worker.serviceTypeTwoName}"></span>
			</div>
		</div>
		<div style="margin-top:10px;height:120px;height:380px;">
			<div id="dvtitle" style="height:32px;" >
				<div style="height:20px;border-bottom:1px solid orange; "></div>
				<h5 style="width:90px;padding:0px 10px;padding-left:15px;margin-left:40px;margin-top:-10px;background-color: white">基本信息</h5>
			</div>
			<div id="dvbase" style="height:70px;padding-left:15px;padding-top:10px;">
				<span th:text="${worker.yearsOld}"></span><span>岁&nbsp;|&nbsp;</span><span th:text="${worker.nativePlace}"></span><span>人&nbsp;|&nbsp;</span><span th:text="${worker.nation}"></span><br/>
				<div style="height:5px;"></div>
				<span th:text="${worker.politicStatus}"></span><span>&nbsp;|&nbsp;</span><span th:text="${worker.educationText}"></span><span>&nbsp;|&nbsp;</span><span th:text="${worker.religion}"></span>
			</div>
			<div id="split" style="background-color: gray;height:1px;margin-top:10px;margin-left:15px"></div>
			<div style="height:100px;padding-left:15px;margin-top:10px">
				<span>普通话</span><span th:text="${worker.languageLevel}"></span><br/>
				<div style="height:5px;"></div>
				<span>行业经验</span><span th:text="${worker.workExperience}"></span><span>年左右</span><br/>
				<div  style="height:5px;"></div>
				<span th:text="${worker.employmentDate}"></span><span>加入幸福家缘</span><br/>
				<div style="height:5px;"></div>
				<span>服务范围</span><span th:text="${worker.adderssDetail}"></span>
			</div>
			<div id="split" style="background-color: gray;height:1px;margin-top:10px;margin-left:15px"></div>
			<div style="margin-left:15px;margin-top:10px;">
				<span th:text="${worker.stature}"></span><span>cm&nbsp;|&nbsp;</span><span th:text="${worker.weight}"></span><span>kg&nbsp;</span><br/>
				<div style="margin-top:5px"></div>
				<span th:text="${worker.constellation}"></span>
			</div>
			<div id="split" style="background-color: gray;height:1px;margin-top:10px;margin-left:15px"></div>
			<div style="margin-left:15px;margin-top:10px;">
				<div style="height:50px;float:left;">个人描述</div>
				<div style="float:left;margin-left:15px;width:230px;" th:text="${worker.descr}"></div>
			</div>
		</div>
		<div id="dvteacher" style="height:100px;">
			<div id="dvtitle" style="height:32px;" >
				<div style="height:20px;border-bottom:1px solid orange; "></div>
				<h5 style="width:90px;padding:0px 10px;padding-left:15px;margin-left:40px;margin-top:-10px;background-color: white">所属老师</h5>
			</div>
			<div style="height:70px;">
				<div style="float:left;height:70px;width:70px;display:block;margin-left:15px;">
					<img th:src="@{/app/img/ayi.jpg}" style="width:48px;height:auto"/>
					<!-- <img th:src="@{'/app/uploadfiles/workerphoto/'+${worker.teacher.photo}}" style="width:48px;height:auto"/> -->
				</div>
				<div style="float:left;width:200px;height:70px;">
					<span style="font-weight:bold" th:text="${worker.teacher.name}"></span><br/>
					<div style="margin-top:5px"></div>
					<span th:text="${worker.teacher.nativePlace}"></span><span>人</span><br/>
					<a th:href="'tel:'+${worker.teacher.phone}" style="color:black" th:text="${worker.teacher.phone}"></a>
				</div>
				<!--<div style="float:right;width:60px;height:70px;border:1px solid orange;margin-right:20px;line-height:70px; position:relative;   ">
					 <a th:href="'tel:'+${worker.teacher.phone}">
						<img th:src="@{/app/img/btn_call.png}" style="position:absolute;   height:55px;width:55px; top:8%; "/>
					</a> 
				</div>-->
			</div>
			<div style="height:30px;border-top:1px solid orange"></div>
			<div style="height:70px;" class="row">
				<div style="margin-top:10px"></div>
				<div class="col-xs-2 col-sm-2">&nbsp;</div>
				<div>
					<button type="button" onclick="toOrderConfirm()" class="btn col-xs-8 col-sm-8 btn-default btn-lg">选 择</button>
				</div>
				<div class="col-xs-2 col-sm-2"></div>
			</div>
			<div style="height:100px"></div>
		</div>
	</div>


</body>
</html>
