<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>任务查看</title>
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_002.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_004.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_002.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/app/datepicker/css/mobiscroll.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/app/datepicker/js/mobiscroll.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_003.js}" type="text/javascript"></script>
<script th:src="@{/app/datepicker/js/mobiscroll_005.js}" type="text/javascript"></script>
<link th:href="@{/app/datepicker/css/mobiscroll_003.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/app/js/public.js}"></script>
<style type="text/css">
 body{
 	font-size:18px;
 }
</style>

<script type="text/javascript">
 
/*<![CDATA[*/
  function toOrderDetail(target){
	  var oid=$(target).attr('oid');
	  window.location.href=basePath+"/client/orderDetail.html?oid="+oid+"&fromPage=ayi";
  }
  

  function getOrder(target){
	  $(target).attr("disabled",true);
	  var oid=$(target).val();
	  var openId=$("#openId").val();
	  $.ajax({
          type: "POST",
          url: basePath+'/client/fightOrder.html?oid='+oid,
          data:$("#aform").serialize(),
          success: function(data) {
          	if(data=="S"){
          		 alert('已成功领取！');
          	}else if(data=='L'){
          		 alert('已被其他人领取！');
          	}else if(data=='F'){
          		 alert('该时间段内您已有其他任务！');
          	}else{
          		 alert('处理失败！');
          	}
          }
      }); 	  
  }
  
  function finishOrder(target){
	  $("#myModal").modal('hide');
	 // $(target).attr("disabled",true);
	  var oid=$(target).val();
	  $("button[clicked='y']").attr("disabled",true);  
	  var openId=$("#openId").val();
	  $.ajax({
          type: "POST",
          url: basePath+'/client/finishOrder.html?oid='+oid+"&openId="+openId,
          data:$("#aform").serialize(),
          success: function(data) {
          	if(data=="S"){
          		 alert('已完成！');
          	}else{
          		 alert('处理失败！');
          	} 
          }
      }); 	  
  }
  
  $(function () {
      var currYear = (new Date()).getFullYear();	
  	var opt={};
  	opt.date = {preset : 'date'};
  	opt.datetime = {preset : 'datetime'};
  	opt.time = {preset : 'time'};
  	opt.default = {
  		theme: 'android-ics light', //皮肤样式
          display: 'modal', //显示方式 
          mode: 'scroller', //日期选择模式
  		dateFormat: 'yyyy-mm-dd',
  		lang: 'zh',
  		showNow: true,
  		nowText: "今天",
          startYear: currYear, //开始年份
          endYear: currYear + 10
  	};
  	$("#serviceDate").mobiscroll($.extend(opt['date'], opt['default']));
  	if($("#aflag").val()=='T'){
  		 $('#myTab li:eq(1) a').tab('show');
  	}
  	}
  	);
  
  function refreshPage(flag){
	  var path = basePath+"/client/workerTask.html?flag="+flag;  
	  $('#aform').attr("action", path).submit();
  }
  /*]]>*/
 
</script>
</head>
<div class="row" id="warnginInfo">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active col-xs-6"   >
			<a href="#home" data-toggle="tab" style="text-align:center">
			抢单 </a></li>
		<li class="col-xs-6"><a href="#ios" data-toggle="tab" style="text-align:center">待办</a></li>
	</ul>
</div>

<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="home">
<div style="margin-top:20px;margin-left:10px">
<input type="hidden" name="aflag" id="aflag" th:value="${flag}"/>
</div>
<div class="panel panel-default" style="margin-left:5px"  th:each="order : ${resMap.waitOrderList}">
   <div class="panel-heading"  >
   	<h3 class="panel-title" th:attr="oid=${order.id}" onclick="toOrderDetail(this)">
   		<span  th:text="__${order.serviceTypeText}__+'('+${order.cycleTypeText}+')'"></span>
   		<span  style="float:right" th:text="${order.stateText}"></span>
      </h3>
   </div>    
   <ul class="list-group" th:attr="oid=${order.id}" onclick="toOrderDetail(this)">
   	  <li class="list-group-item"   th:text="__${order.totalFee}__+'元'"> </li>
      <li class="list-group-item"   th:text="__${order.serviceDate}__+' '+${order.durationText} "> </li>
      <li class="list-group-item"  th:text="${order.fullAddress}"></li>
   </ul>
    <div class="row" style="text-align:center">
		<button type="button" onclick="getOrder(this)" th:value="${order.id}" style="margin-top:10px;margin-bottom:10px" id="btnPay" class="btn col-sm-8 btn-info">抢单</button>
	</div>
	</div>

   </div>
   <div class="tab-pane fade" id="ios">
      <div style="margin-top:20px;margin-left:10px"></div>
      <div>
      	<form id="aform" method="post">
      		<input type="hidden" name="openId" id="openId" th:value="${openId}"/>
      		<label for="serviceDate" style="margin-left:15px;">服务日期：</label>
      		<input name="serviceDate" onchange="refreshPage('T')" class="input-append date" id="serviceDate" size="12"  th:value="${serviceDate}" onfocus="this.blur()"   />
      	</form>
      </div>
<div class="panel panel-default" style="margin-left:5px"  th:each="order : ${resMap.todoOrderList}">
   <div class="panel-heading"  >
   	<h3 class="panel-title" th:attr="oid=${order.id}"  onclick="toOrderDetail(this)">
   		<span  th:text="__${order.serviceTypeText}__+'('+${order.cycleTypeText}+')'"></span>
      </h3>
   </div>    
   <ul class="list-group" th:attr="oid=${order.id}"  onclick="toOrderDetail(this)">
   	  <li class="list-group-item"   > 
   	  	<span th:text="__${order.totalFee}__+'元'"></span>
   	  	<span>(订单金额)</span>
   	  </li>
      <li class="list-group-item"   th:text="__${order.serviceDate}__+' '+${order.durationText} "> </li>
      <li class="list-group-item"  th:text="${order.fullAddress}"></li>
   </ul>
   <div class="row" style="text-align:center">
		<button type="button" data-toggle="modal" clicked="n" th:if="${order.state=='C'}"
   			data-target="#myModal" th:value="${order.id}" onclick="javascript:$('#btnsure').val($(this).val());$(this).attr('clicked','y')" style="margin-top:10px;margin-bottom:10px" id="btnPay" class="btn col-sm-8 btn-info">完成</button>
		<button type="button" data-toggle="modal"  th:if="${order.state=='F'}"
   			  style="margin-top:10px;margin-bottom:10px;" disabled="disabled"  class="btn col-sm-8 btn-info">已经完成</button>
	</div>
</div>
   </div>
</div>


<div class="modal fade" style="margin-top:150px;margin-left:20px" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               确认
            </h4>
         </div>
         <div class="modal-body">
            确定该订单已经完成？
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" id="btnsure" value="" onclick="finishOrder(this)" >
               确认
            </button>
         </div>
      </div><!-- /.modal-content -->
</div>
</div>
<body>
	
</body>
</html>
